modules/levels/level3/SWF023 - Update YT Playlist.json
{
  "name": "SWF023 - Update YT Playlist",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "WHICH_YT_CHANNEL"
            },
            {
              "name": "YT_Video_ID"
            },
            {
              "name": "channel_playlists",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        304
      ],
      "id": "50f6be6f-8f2c-4143-a35d-e054c2157ae3",
      "name": "Start"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        304
      ],
      "id": "b1656fc2-4e82-44f0-8479-fcf545e5f1dc",
      "name": "Workflow Controls"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').first().json.WHICH_YT_CHANNEL }}",
                    "rightValue": "YT CHAN 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a69e533-abed-4c88-8040-1953e7eeb7d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YT CHAN 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f2f6a58-d7cd-4730-9251-21951662f823",
                    "leftValue": "={{ $('Start').first().json.WHICH_YT_CHANNEL }}",
                    "rightValue": "YT CHAN 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YT CHAN 2"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        176
      ],
      "id": "b717725e-74cd-4b64-9c9a-8a030255a2cb",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "=Unknown YouTube Channel: {{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "60199850-9c99-4599-baf8-7fa33c314a03",
      "name": "Unknown Channel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "561a5c70-ccd3-4454-87ef-87b60afe297c",
              "leftValue": "={{ $json.channel_playlists }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        304
      ],
      "id": "53f436d9-24d1-40c9-a450-cb17752ce86c",
      "name": "If we have channel_playlists"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        400
      ],
      "id": "99aebc8d-d48c-48c3-8551-fb00e10b098e",
      "name": "Nothing to do"
    },
    {
      "parameters": {
        "content": "# Update YT Playlist\n\n## SWF023\n\n### Purpose\nHandle multiple channel modifications by adding the specified YT_Video_ID to the playlists of the designated WHICH_YT_CHANNEL.\n\n### Input\n* WHICH_YT_CHANNEL\n* YT_Video_ID\n* channel_playlists\n\n### Output\n* YouTube JSON Response",
        "height": 464,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1536,
        96
      ],
      "id": "1f4eed2b-6291-4b5b-8619-f357c5a9320c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pAGkX6iBUQv9vctp",
          "mode": "list",
          "cachedResultName": "Update YT Playlist YT CHAN 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "WHICH_YT_CHANNEL": "={{ $('Workflow Controls').first().json.WHICH_YT_CHANNEL }}",
            "YT_Video_ID": "={{ $('Workflow Controls').first().json.YT_Video_ID }}",
            "channel_playlists": "={{ $('Workflow Controls').first().json.channel_playlists }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e4b004d0-03d5-40dd-99c1-456162162119",
      "name": "Update YT Playlist YT CHAN 1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gvPQ2SPsyyyQEEiW",
          "mode": "list",
          "cachedResultName": "Update YT Playlist YT CHAN 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "WHICH_YT_CHANNEL": "={{ $('Workflow Controls').first().json.WHICH_YT_CHANNEL }}",
            "YT_Video_ID": "={{ $('Workflow Controls').first().json.YT_Video_ID }}",
            "channel_playlists": "={{ $('Workflow Controls').first().json.channel_playlists }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "f17cbb3a-e875-4742-8d1a-b44466ec7992",
      "name": "Update YT Playlist YT CHAN 2"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "WHICH_YT_CHANNEL": "YT CHAN 1",
          "YT_Video_ID": "LZQm7miJNP8",
          "channel_playlists": [
            [
              "November - KJV",
              "The month of November' Bible readings with translation King James Version."
            ],
            [
              "Read The Entire Bible in 365 Days - KJV",
              "The Bible,translation King James Version, is read to you and will be completed in one year. We start with Genesis and end with Revelations."
            ],
            [
              "John - KJV",
              "The book of John Bible readings from the King James Version translation."
            ]
          ]
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Controls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Controls": {
      "main": [
        [
          {
            "node": "If we have channel_playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update YT Playlist YT CHAN 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update YT Playlist YT CHAN 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If we have channel_playlists": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a15bc992-1955-4646-9ab5-68fc851fdc21",
  "meta": {
    "instanceId": "1a9bddba989a25b9b63277adaf1f54896f7309e49579080eb90bf0a9338b3602"
  },
  "id": "PrPRIe7UA2mEUSXf",
  "tags": [
    {
      "name": "PR2",
      "id": "o8vTE5ANJi1SLVrK",
      "updatedAt": "2025-11-11T15:46:21.402Z",
      "createdAt": "2025-11-11T15:46:21.402Z"
    },
    {
      "name": "SWF023",
      "id": "yATrhWvzeXw67GvM",
      "updatedAt": "2025-11-11T15:46:21.269Z",
      "createdAt": "2025-11-11T15:46:21.269Z"
    },
    {
      "updatedAt": "2025-09-11T00:38:56.991Z",
      "createdAt": "2025-09-11T00:38:56.991Z",
      "id": "ydubjRItVIm8Dtc7",
      "name": "Module"
    }
  ]
}
