modules/SWF017 - Update YT Video.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get the video title from the metadata node\nconst title = $('Start').first().json.thumbnail_title;\n\n// Get the first item from the Download Video File node\nconst item = $(\"Download Thumbnail File\").first();\n\n// Set the new filename for the binary data\nitem.binary.data.fileName = `${title}.jpg`;\n\n// Return the modified item as an array (n8n expects an array of items)\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        512
      ],
      "id": "bdea31d9-2248-4b0b-8b44-e4ca3db5ad30",
      "name": "Rename Thumbnail File"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "WHICH_YOUTUBE_CHANNEL"
            },
            {
              "name": "YT_Video_ID"
            },
            {
              "name": "thumbnail_file_url"
            },
            {
              "name": "thumbnail_title"
            },
            {
              "name": "channel_playlists",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        608
      ],
      "id": "1709a7d5-07c2-456a-98c8-649564fa4eb3",
      "name": "Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ls8OvoluAw4Tg2Ls",
          "mode": "list",
          "cachedResultName": "Download File for given URL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_url": "={{ $json.thumbnail_file_url }}"
          },
          "matchingColumns": [
            "file_url"
          ],
          "schema": [
            {
              "id": "file_url",
              "displayName": "file_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        608
      ],
      "id": "5a3772d4-8f51-47c2-ac50-fe9d613bce49",
      "name": "Download Thumbnail File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "SSADVISOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a69e533-abed-4c88-8040-1953e7eeb7d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SSADVISOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f2f6a58-d7cd-4730-9251-21951662f823",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "EBOYD53",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EBOYD53"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8e717a5-80d2-4721-81a0-8d8f438ad69d",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "HOA_NIGHTMARES",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOA_NIGHTMARES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aabe88f1-5861-47a0-a443-7804412679d2",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "OHIO NEWS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OHIO NEWS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18c4fade-23b2-46a3-8d3b-3935075c0972",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "BIBLE READINGS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BIBLE READINGS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2895d7e0-fa95-4862-a4bf-9b0b3bc44c65",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "USA STATES NEWS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "USA STATES NEWS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "991e518b-bbc3-4a8d-86d7-fd814cc800f3",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "RELATIONSHIP_HORROR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RELATIONSHIP_HORROR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e8c61bb3-9e25-4db4-9705-d887f7ab91e7",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "COURTROOM DEFENDANT DRAMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COURTROOM DEFENDANT DRAMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df9f1b59-1b6d-4edd-a71b-37dbbbcba117",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO YT UPLOAD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        896,
        400
      ],
      "id": "21e58de3-27c9-43ba-800a-104f7393d775",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -256
      ],
      "id": "945260b7-083b-4090-a7ac-fc00595a71fb",
      "name": "Update SSADVISOR Video Thumbnail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "vNrHiuIWyrEntv1c",
          "name": "YouTube SSAdvisor Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -64
      ],
      "id": "a4728c9e-7412-422b-a37f-4293f402b82a",
      "name": "Update EBOYD53 Video Thumbnail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "KXJ3i6J0ZkBZlpvQ",
          "name": "YouTube eboyd53@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        320
      ],
      "id": "cd465bf5-ec0d-4289-9bc2-d06feebd5e74",
      "name": "Update OHIO NEWS Video Thumbnail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "xtwyJgHhQQLTHEC1",
          "name": "YouTube Ohio Daily News Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        480
      ],
      "id": "c773f4a9-99e2-4380-8793-1a391d4ca4a8",
      "name": "Update BIBLE READINGS Video Thumbnail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "V25Sbr5zJwDV8L9o",
          "name": "YouTube Bible Readings"
        }
      }
    },
    {
      "parameters": {
        "content": "# Update YT Video\n\n## SWF017\n\n### Purpose\nUpdate the thumbnail of the uploaded YouTube video specified by YT_Video_ID and add the video to the designated channel_playlists. If any playlists do not exist, they are created automatically.\n\n### Input\n* WHICH_YOUTUBE_CHANNEL\n* thumbnail_file_url\n* thumbnail_title\n* YT_Video_ID\n* channel_playlists\n* data\n\n### Output\n* WHICH_YT_CHANNEL\n* YT_Video_ID\n",
        "height": 540,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        16
      ],
      "id": "aa2886f9-bd64-4b7c-b7b7-fce831d882e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        608
      ],
      "id": "65891178-a3da-47b9-ab74-51cee7b6e0bd",
      "name": "Update USA STATES NEWS Video Thumbnail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "LVJEczDTgSxHyFIc",
          "name": "YouTube USA_States_News"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E3HuvzdVWnT2P34z",
          "mode": "list",
          "cachedResultName": "Update YT Playlist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "WHICH_YT_CHANNEL": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
            "channel_playlists": "={{ $('Start').first().json.channel_playlists }}",
            "YT_Video_ID": "={{ $('Start').first().json.YT_Video_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1408,
        480
      ],
      "id": "5d4cd659-b946-4b95-bd8c-940be4e28a1e",
      "name": "Update YT Playlists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f413a8a-a4e6-48ae-8818-501333042749",
              "leftValue": "={{ $json.download_status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        608
      ],
      "id": "ad6aa7d6-1ec8-43cb-b88b-da092e3425a6",
      "name": "If download_status is true"
    },
    {
      "parameters": {
        "errorMessage": "Error in Download Thumbnail File"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        704
      ],
      "id": "3bdd95f3-05d5-42c1-9eb9-1c06654b6d89",
      "name": "Error in Download Thumbnail File"
    },
    {
      "parameters": {
        "errorMessage": "=Unknown YouTube Channel: {{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1120,
        1168
      ],
      "id": "080684e6-9e82-4202-b2ee-b0e5785ca567",
      "name": "Unknown YouTube Channel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        128
      ],
      "id": "464a633c-7af3-4512-8c35-ebf8ffbce02e",
      "name": "Update HOA NIGHTMARES Video Thumbnail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "F5MGgk3BNaXDwnmM",
          "name": "YouTube HOA Nightmares"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        768
      ],
      "id": "75e04b2a-177d-48dc-8be5-db958a3dfcf3",
      "name": "Update RELATIONSHIP HORROR Video Thumbnail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "14camdMaIZvZvsbF",
          "name": "YouTube RELATIONSHIP_HORROR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Start').first().json.YT_Video_ID }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        928
      ],
      "id": "1e476521-2442-4eab-a34e-73d266660a2c",
      "name": "COURTROOM DEFENDANT DRAMA",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "oAuth2Api": {
          "id": "CPm5IJNnNMeihvsD",
          "name": "YouTube Thumbnail Update"
        },
        "youTubeOAuth2Api": {
          "id": "zF4lGRtk635RstcM",
          "name": "YouTube Courtroom Defendant Drama"
        }
      }
    }
  ],
  "connections": {
    "Rename Thumbnail File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Download Thumbnail File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Thumbnail File": {
      "main": [
        [
          {
            "node": "If download_status is true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update SSADVISOR Video Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update EBOYD53 Video Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update HOA NIGHTMARES Video Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update OHIO NEWS Video Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update BIBLE READINGS Video Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update USA STATES NEWS Video Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RELATIONSHIP HORROR Video Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COURTROOM DEFENDANT DRAMA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown YouTube Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update SSADVISOR Video Thumbnail": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update EBOYD53 Video Thumbnail": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update OHIO NEWS Video Thumbnail": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update BIBLE READINGS Video Thumbnail": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update USA STATES NEWS Video Thumbnail": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If download_status is true": {
      "main": [
        [
          {
            "node": "Rename Thumbnail File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error in Download Thumbnail File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HOA NIGHTMARES Video Thumbnail": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update RELATIONSHIP HORROR Video Thumbnail": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COURTROOM DEFENDANT DRAMA": {
      "main": [
        [
          {
            "node": "Update YT Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
