modules/SWF013 - Add Slideshow Captions.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zero2launch.com/caption/generate-caption",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n\"video\": {\n    \"url\": \"{{ $json.video_url }}\",\n    \"language\": \"en\"\n  },\n  \"captions\": \"{{ $json.captions }}\",\n  \"style\": {\n    \"type\": \"{{ $json.style_type }}\",\n    \"font\": {\n      \"family\": \"{{ $json.style_font_family }}\",\n      \"size\": {{ $json.style_font_size }},\n      \"bold\": {{ $json.style_font_bold }}\n    },\n    \"colors\": {\n      \"line\": \"{{ $json.style_colors_line }}\",\n      \"word\": \"{{ $json.style_colors_word }}\",\n      \"outline\": \"{{ $json.style_colors_outline }}\",\n      \"box\": \"{{ $json.style_colors_box }}\"\n    },\n    \"effects\": {\n      \"outline_width\": {{ $json.style_effects_outline_width }},\n      \"border_style\": \"{{ $json.style_effects_border_style }}\",\n      \"all_caps\": {{ $json.style_effects_all_caps }}\n    },\n    \"positioning\": {\n      \"position\": \"{{ $json.style_positioning_position }}\",\n      \"alignment\": \"{{ $json.style_positioning_alignment }}\",\n      \"x\": \"{{ $json.style_positioning_x }}\",\n      \"y\": \"{{ $json.style_positioning_y }}\",\n      \"margin_l\": {{ $json.style_margin_l }},\n      \"margin_r\": {{ $json.style_margin_r }},\n      \"margin_v\": {{ $json.style_margin_v }}\n    },\n    \"max_words_per_line\": {{ $json.style_max_words_per_line }}\n  },\n  \"replacements\": [\n    { \"find\": \"{{ $json.replacements_find }}\", \"replace\": \"{{ $json.replacements_replace }}\" }\n  ]\n}\n\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        288
      ],
      "id": "1cac006d-0328-40c8-a706-8d5929f8672a",
      "name": "Caption Generator",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lymWqGQ67PUobVpS",
          "name": "Header Auth Z2L"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        48
      ],
      "id": "01ed9f20-e5c4-4af5-9d6e-d3a208bdc593",
      "name": "Wait 20s Node",
      "webhookId": "1f57d59f-00f6-4d0d-b094-dc621d36b3c0"
    },
    {
      "parameters": {
        "url": "=https://api.zero2launch.com/caption/status/{{ $('Caption Generator').item.json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        112
      ],
      "id": "cb10d779-2f2e-45dc-9fe5-508e584db74b",
      "name": "Check Caption Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lymWqGQ67PUobVpS",
          "name": "Header Auth Z2L"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=Poll exceeded maximum value: {{ $json.attempt }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        352,
        -240
      ],
      "id": "acf97ca0-448d-42f1-8d9b-a5feebeade8a",
      "name": "Poll exceeded maximum attempts"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_url"
            },
            {
              "name": "captions"
            },
            {
              "name": "style_type"
            },
            {
              "name": "style_font_family"
            },
            {
              "name": "style_font_size",
              "type": "number"
            },
            {
              "name": "style_font_bold",
              "type": "boolean"
            },
            {
              "name": "style_colors_line"
            },
            {
              "name": "style_colors_word"
            },
            {
              "name": "style_colors_outline"
            },
            {
              "name": "style_colors_box"
            },
            {
              "name": "style_effects_outline_width",
              "type": "number"
            },
            {
              "name": "style_effects_border_style",
              "type": "number"
            },
            {
              "name": "style_effects_all_caps",
              "type": "boolean"
            },
            {
              "name": "style_positioning_position"
            },
            {
              "name": "style_positioning_alignment"
            },
            {
              "name": "style_positioning_x"
            },
            {
              "name": "style_positioning_y"
            },
            {
              "name": "style_margin_l",
              "type": "number"
            },
            {
              "name": "style_margin_r",
              "type": "number"
            },
            {
              "name": "style_margin_v",
              "type": "number"
            },
            {
              "name": "style_max_words_per_line",
              "type": "number"
            },
            {
              "name": "replacements_find"
            },
            {
              "name": "replacements_replace"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        400
      ],
      "id": "b131fbcc-4ac6-4173-b3fd-5e7ae045a6b6",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902bc6f2-7a3e-48d0-bcf4-a3d2feb808fb",
              "name": "final_video_url",
              "value": "={{ $json.result.video_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -224
      ],
      "id": "f336d86e-f8c1-4388-8f2e-4f3e0745c468",
      "name": "Return final_video_url"
    },
    {
      "parameters": {
        "content": "# Add Slideshow Captions\n## SWF013\n### Purpose\n* Add captions to the generated video given in video_url return the results in final_video_url.\n### Input\n* video_url\n### Output\n* final_video_url",
        "height": 336,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        -128
      ],
      "id": "02b3b282-bd6f-4f1e-b41e-95cd20a34530",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "813d1303-23d0-41aa-8150-dcfe2f446766",
              "name": "video_url",
              "value": "={{ $json.video_url }}",
              "type": "string"
            },
            {
              "id": "c7e4da7f-1b1a-4820-bf77-60de771534fb",
              "name": "captions",
              "value": "={{ $json.captions }}",
              "type": "string"
            },
            {
              "id": "d1e398d7-1c91-488b-a263-447d76d7e13b",
              "name": "style_type",
              "value": "={{ $json.style_type || \"word_by_word\" }}",
              "type": "string"
            },
            {
              "id": "a7be92ad-d22d-47d6-be74-c1ac4570dd30",
              "name": "style_font_family",
              "value": "={{ $json.style_font_family || \"DejaVu Sans\" }}",
              "type": "string"
            },
            {
              "id": "5826be17-e1e8-4b71-8e5d-da131c2cba93",
              "name": "style_font_size",
              "value": "={{ $json.style_font_size || 60 }}",
              "type": "number"
            },
            {
              "id": "1e15c858-1c40-47ce-b4db-5a737ca9ff0c",
              "name": "style_font_bold",
              "value": "={{ $json.style_font_bold || true}}",
              "type": "boolean"
            },
            {
              "id": "e65d37bf-1086-45ca-a561-7b1a3ec8f64f",
              "name": "style_colors_line",
              "value": "={{ $json.style_colors_line || \"#FFFFFF\" }}",
              "type": "string"
            },
            {
              "id": "c3059da3-a6e2-4d56-b2f1-a4ce2394f9dc",
              "name": "style_colors_word",
              "value": "={{ $json.style_colors_word || \"#FFFF00\" }}",
              "type": "string"
            },
            {
              "id": "1e8c90e7-96ab-4e85-902e-2f631d14f696",
              "name": "style_colors_outline",
              "value": "={{ $json.style_colors_outline || \"#000000\" }}",
              "type": "string"
            },
            {
              "id": "6faf05c7-fa07-4e6d-b338-bdc32cd28ba4",
              "name": "style_colors_box",
              "value": "={{ $json.style_colors_box || \"#000000A0\" }}",
              "type": "string"
            },
            {
              "id": "2db923ae-a80a-4586-9bf4-aad39dcf7682",
              "name": "style_effects_outline_width",
              "value": "={{ $json.style_effects_outline_width || 2 }}",
              "type": "number"
            },
            {
              "id": "b03933c3-fd8b-48b0-bcec-3f7886b63ca5",
              "name": "style_effects_border_style",
              "value": "={{ $json.style_effects_border_style || 1}}",
              "type": "number"
            },
            {
              "id": "787cb3b5-9de9-452a-a4fe-43bbd2dabd4e",
              "name": "style_effects_all_caps",
              "value": "={{ $json.style_effects_all_caps || false }}",
              "type": "boolean"
            },
            {
              "id": "aea2f3b1-120c-46f5-8305-85099293a71d",
              "name": "style_positioning_position",
              "value": "={{ $json.style_positioning_position || \"middle_center\" }}",
              "type": "string"
            },
            {
              "id": "4e6a1b3d-4834-4295-9b2d-6fdca1113855",
              "name": "style_positioning_alignment",
              "value": "={{ $json.style_positioning_alignment || \"center\" }}",
              "type": "string"
            },
            {
              "id": "d9114557-8a72-4571-9c8e-feff45039d36",
              "name": "style_positioning_x",
              "value": "={{ $json.style_positioning_x }}",
              "type": "string"
            },
            {
              "id": "425d54b7-5515-40f4-92cf-1c69512b78c0",
              "name": "style_positioning_y",
              "value": "={{ $json.style_positioning_y }}",
              "type": "string"
            },
            {
              "id": "9501d056-cfab-46ea-8ec3-1f16fa8702b2",
              "name": "style_margin_l",
              "value": "={{ $json.style_margin_l || 30 }}",
              "type": "number"
            },
            {
              "id": "4ef4834b-8974-4f99-8e31-92a76d619bad",
              "name": "style_margin_r",
              "value": "={{ $json.style_margin_r || 30 }}",
              "type": "number"
            },
            {
              "id": "d329e89c-c99d-45fa-a21e-3e7cfd6c5ca8",
              "name": "style_margin_v",
              "value": "={{ $json.style_margin_v || 30 }}",
              "type": "number"
            },
            {
              "id": "ee657f02-3129-4870-afb8-9bcf7141dcd0",
              "name": "style_max_words_per_line",
              "value": "={{ $json.style_max_words_per_line || 5 }}",
              "type": "number"
            },
            {
              "id": "c9cbc502-e376-454e-904d-43cce8a11a02",
              "name": "replacements_find",
              "value": "={{ $json.replacements_find }}",
              "type": "string"
            },
            {
              "id": "c9dfcee1-5f43-4ab3-ac32-2a60a8f4cc41",
              "name": "replacements_replace",
              "value": "={{ $json.replacements_replace }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        400
      ],
      "id": "3c65e1b6-7b08-4dd4-bede-a80d8087dc80",
      "name": "Workflow Control"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Zy23SQ1NqBBCmVwM",
          "mode": "list",
          "cachedResultName": "SWF018 - HTTP Request Error Management"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.error.status }}",
            "code": "={{ $json.error.code }}",
            "E429_wait_seconds": 5.01,
            "E500_wait_seconds": 30
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "E429_wait_seconds",
              "displayName": "E429_wait_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "E500_wait_seconds",
              "displayName": "E500_wait_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        112
      ],
      "id": "992a97f8-29e6-4abd-8ed3-20de9e557c0e",
      "name": "HTTP Request Error Management"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1408,
        496
      ],
      "id": "a1fc52e9-0235-49ad-ac3d-d0c05295b12e",
      "name": "Raise Error Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c57c682-a86f-4179-9ce9-7e42ad967539",
              "leftValue": "={{ $json.retry && ($runIndex < 35) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        256
      ],
      "id": "ad88e725-9a66-4d92-b828-45d1efca47dd",
      "name": "If retry and attempts < 35"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e28ab9fd-6e9c-4ed4-bdbc-a8ce74a1533d",
              "leftValue": "={{ $runIndex }}",
              "rightValue": "=2500",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        112
      ],
      "id": "901156d9-a5f5-484a-b3c0-84b3904908bf",
      "name": "If attempts > 2500"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Zy23SQ1NqBBCmVwM",
          "mode": "list",
          "cachedResultName": "SWF018 - HTTP Request Error Management"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.error.status }}",
            "E429_wait_seconds": 5.01,
            "E500_wait_seconds": 30,
            "code": "={{ $json.error.code }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "E429_wait_seconds",
              "displayName": "E429_wait_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "E500_wait_seconds",
              "displayName": "E500_wait_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        528
      ],
      "id": "ce7a546b-b00b-4306-9a22-9a73ba947261",
      "name": "HTTP Request Error Management1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c7ff1d51-cc2f-4010-83eb-4235db8a912e",
              "leftValue": "={{ $json.retry && $runIndex < 35 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        672
      ],
      "id": "1a508688-22bd-480a-b54b-229ca3d036d0",
      "name": "If retry and attempts < 35 #2"
    },
    {
      "parameters": {
        "content": "## 2025-10-01\n* Add HTTP Request Error Management",
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        240
      ],
      "id": "3c7f70bd-aced-400d-bfe8-5e05267ddb09",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6a2f9fe-37ec-4612-94f1-05a535654fbb",
              "leftValue": "={{ $json.result.status.toUpperCase() }}",
              "rightValue": "FAILURE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -64
      ],
      "id": "3c0dd3e0-7e13-4f02-839b-aa64fc99d11a",
      "name": "If result.status is equal to FAILURE"
    },
    {
      "parameters": {
        "errorMessage": "Upstream Error -- FNF"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        896,
        -272
      ],
      "id": "016c03cd-a232-4447-934c-8b33806e9864",
      "name": "Upstream Error -- FNF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a5a265b-467f-4947-bd25-0d35dc53a142",
              "leftValue": "={{ $json.result.error }}",
              "rightValue": "Read timed out.",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -160
      ],
      "id": "4b6482f7-2f7a-4510-be94-d3cf7d5a2132",
      "name": "If Read timed out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a4a21bd-25a3-4a5d-882b-c3a89a2e582c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -128
      ],
      "id": "67d5b2ba-c32a-4d41-8a2f-0460744b3b00",
      "name": "If Done?"
    }
  ],
  "connections": {
    "Caption Generator": {
      "main": [
        [
          {
            "node": "If attempts > 2500",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Error Management1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s Node": {
      "main": [
        [
          {
            "node": "If attempts > 2500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Caption Status": {
      "main": [
        [
          {
            "node": "If result.status is equal to FAILURE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Error Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Control": {
      "main": [
        [
          {
            "node": "Caption Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Error Management": {
      "main": [
        [
          {
            "node": "If retry and attempts < 35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If retry and attempts < 35": {
      "main": [
        [
          {
            "node": "Check Caption Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Raise Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If attempts > 2500": {
      "main": [
        [
          {
            "node": "Poll exceeded maximum attempts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Caption Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Error Management1": {
      "main": [
        [
          {
            "node": "If retry and attempts < 35 #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If retry and attempts < 35 #2": {
      "main": [
        [
          {
            "node": "Workflow Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Raise Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If result.status is equal to FAILURE": {
      "main": [
        [
          {
            "node": "If Read timed out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Read timed out": {
      "main": [
        [
          {
            "node": "Workflow Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upstream Error -- FNF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Done?": {
      "main": [
        [
          {
            "node": "Return final_video_url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "video_url": "https://n8n.connectcircuits.com/webhook/a60c3f68-7bcf-4504-a087-0fb9c7a3fce0/file/d40f75721c2814cc73db7ad65f9c7498e03343136a26093c7b55da17ca1377eb.mp4",
        "captions": null,
        "style_type": "highlight",
        "style_font_family": "DejaVu Sans",
        "style_font_size": 60,
        "style_font_bold": true,
        "style_colors_line": "#FFFFFF",
        "style_colors_word": "#FFFF00",
        "style_colors_outline": "#000000",
        "style_colors_box": "#000000A0",
        "style_effects_outline_width": 2,
        "style_effects_border_style": 1,
        "style_effects_all_caps": false,
        "style_positioning_position": "middle_center",
        "style_positioning_alignment": "center",
        "style_positioning_x": null,
        "style_positioning_y": null,
        "style_margin_l": 30,
        "style_margin_r": 30,
        "style_margin_v": 30,
        "style_max_words_per_line": 8,
        "replacements_find": null,
        "replacements_replace": null
      }
    ]
  },
  "meta": {
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
