modules/SWF026 - Create GGL Sheets File EBOYD53.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "which_credentials"
            },
            {
              "name": "GGL_DRV_path_id"
            },
            {
              "name": "spreadsheet_file_name"
            },
            {
              "name": "spreadsheet_sheet_name"
            },
            {
              "name": "spreadsheet_header_row"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        272
      ],
      "id": "69d2d78b-3a81-4710-af41-6c0abf6f25c6",
      "name": "Start"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Header Row Data For Split').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Set Header Row Data For Split').first().json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2080,
        192
      ],
      "id": "52a008e9-1522-461c-8642-183e7bfec8c9",
      "name": "Create the header row in the named sheet.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sBSUvpbcf6G35DbF",
          "name": "Google Sheets EBOYD53"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Start').item.json.spreadsheet_file_name }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Start').first().json.GGL_DRV_path_id }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.spreadsheet"
          ]
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        176
      ],
      "id": "b3ace3b4-1a53-40d3-9277-04627752b8f6",
      "name": "Search for named GGL Sheets Document",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ddbrnr2ZeNfJZGtt",
          "name": "Google Drive EBOYD53"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6994303e-8d9a-4208-9599-35cedf1ad6ff",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Start').item.json.spreadsheet_file_name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0807692e-c0dc-493e-aa9c-d6b940a11b2a",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.spreadsheet",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        736,
        96
      ],
      "id": "a95b78ca-ad01-465b-a000-1e3e89604099",
      "name": "Make sure we have the correct document",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb76c542-eb66-43ec-bf8c-78b6a9f2dbab",
              "leftValue": "={{ $('Search for named GGL Sheets Document').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        96
      ],
      "id": "28480ce7-e523-4dfe-9414-9f6ae8f3b022",
      "name": "If document exists",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Start').item.json.spreadsheet_file_name }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "={{ $('Start').item.json.spreadsheet_sheet_name || \"Sheet1\"}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1184,
        288
      ],
      "id": "6ce8915f-d246-4507-b475-48fe3bc4bc92",
      "name": "Create the named GGL sheets document with named sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sBSUvpbcf6G35DbF",
          "name": "Google Sheets EBOYD53"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Start').first().json.GGL_DRV_path_id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        288
      ],
      "id": "9ee853ec-12e6-43c8-85aa-cb33c965a861",
      "name": "Move the GGL document to the correct folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ddbrnr2ZeNfJZGtt",
          "name": "Google Drive EBOYD53"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Header Row Data For Split').item.json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"repeatCell\": {\n        \"range\": {\n          \"sheetId\": \"{{ $('Set Header Row Data For Split').first().json.sheetId }}\",\n          \"startRowIndex\": 0,\n          \"endRowIndex\": 1\n        },\n        \"cell\": {\n          \"userEnteredFormat\": {\n            \"textFormat\": { \"bold\": true },\n            \"horizontalAlignment\": \"CENTER\",\n            \"verticalAlignment\": \"MIDDLE\"\n          }\n        },\n        \"fields\": \"userEnteredFormat(textFormat,horizontalAlignment,verticalAlignment)\"\n      }\n    },\n    {\n      \"updateSheetProperties\": {\n        \"properties\": {\n          \"sheetId\": \"{{ $('Set Header Row Data For Split').item.json.sheetId }}\",\n          \"gridProperties\": { \"frozenRowCount\": 1 }\n        },\n        \"fields\": \"gridProperties.frozenRowCount\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        272
      ],
      "id": "788d070c-a9e2-4564-bed2-b88545687fe5",
      "name": "Set the attributes for the header row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sBSUvpbcf6G35DbF",
          "name": "Google Sheets EBOYD53"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a55da24-79f8-4dd1-b015-8219aa168e18",
              "name": "row",
              "value": "={{ $('Start').item.json.spreadsheet_header_row }}",
              "type": "array"
            },
            {
              "id": "913ad7a9-9732-4093-b7bf-4cca5cae07b1",
              "name": "spreadsheetId",
              "value": "={{ $json.spreadsheetId || $json.id }}",
              "type": "string"
            },
            {
              "id": "389c8fc9-cd5d-4c7b-a06a-07bef0c5388e",
              "name": "sheetName",
              "value": "={{ $('Start').item.json.spreadsheet_sheet_name }}",
              "type": "string"
            },
            {
              "id": "827be797-d4ac-4dcc-885a-047f41cf29aa",
              "name": "sheetId",
              "value": "={{ $json.sheetId || $('Create the named GGL sheets document with named sheet').item.json.sheets[0].properties.sheetId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        192
      ],
      "id": "459865db-369b-466f-bb7d-3d155678180d",
      "name": "Set Header Row Data For Split"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=row",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1856,
        192
      ],
      "id": "c9d65f45-5595-4d26-98ef-54413cdc5705",
      "name": "Split row data for automatic mapping"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Start').item.json.spreadsheet_sheet_name }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 1
            }
          },
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1184,
        0
      ],
      "id": "c226b411-a298-451f-afb3-35285e008a73",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sBSUvpbcf6G35DbF",
          "name": "Google Sheets EBOYD53"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $('If document exists').item.json.id }}",
          "mode": "id"
        },
        "title": "={{ $('Start').item.json.spreadsheet_sheet_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1408,
        96
      ],
      "id": "30caa66a-ac5a-4144-813b-ce1bd73127ab",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sBSUvpbcf6G35DbF",
          "name": "Google Sheets EBOYD53"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c455d45f-9080-4895-a572-a6840278f169",
              "leftValue": "={{ $json.which_credentials.toUpperCase() }}",
              "rightValue": "EBOYD53",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        272
      ],
      "id": "9357a4f3-17de-4b15-acd8-7d1acc522413",
      "name": "If EBOYD53 credentials"
    },
    {
      "parameters": {
        "errorMessage": "This workflow is specific to EBOYD53"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        512,
        368
      ],
      "id": "dde62695-5440-423d-9079-4f00329473c1",
      "name": "Wrong Credentials"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ad1b2f9-7296-4cef-8892-c3fa2114608e",
              "name": "GGL_sheets_id",
              "value": "={{ $('Search for named GGL Sheets Document').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -96
      ],
      "id": "b981bdb9-0200-40fe-9c5f-20dd289044a8",
      "name": "Return GGL Sheets ID"
    },
    {
      "parameters": {
        "content": "# Create GGL Sheets File EBOYD53\n\n## SWF026\n\n### Purpose\nFind or Create the specified GGL Sheets file. The sheets file will be created if it isn't found and the named sheet in the sheets file will be created if it doesn't exist. The GGL_sheets_id is returned.\n\n### Input\n* which_credentials\n* GGL_DRV_path_id\n* spreadsheet_file_name\n* spreadsheet_sheet_name\n* spreadsheet_header_row\n    * Object e.g. [{\"date\": \"\", \"videoId\": \"\"}]\n\n### Output\n* GGL_sheets_id",
        "height": 592,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        0
      ],
      "id": "2893b648-f3ed-43e4-a6bb-b124f79782d3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const status = $input.first().json.status || $input.first().json.error.status;\nconst sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));\n\nif (status == 429 || (status >= 500 && status <= 599)) {\n if (status == 429) {sleep(5.01 * 1000)}\n else {sleep(90 * 1000)}\n return {status: status, retry: true}\n}\nreturn {status: status, retry: false}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        80
      ],
      "id": "2d820a12-c9e7-4474-b971-209ddb028b95",
      "name": "Http Request Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "861a0f70-faa0-4e23-912d-342a07c58884",
              "leftValue": "={{ $json.retry }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        80
      ],
      "id": "81e35e6e-9b3f-413c-b16d-30d17b853323",
      "name": "If Retry"
    },
    {
      "parameters": {
        "errorMessage": "Error Creating Google Spreadsheet Sheet"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2176,
        48
      ],
      "id": "8f86d049-ff44-44ee-8176-2694c8a32192",
      "name": "Error Creating Google Spreadsheet Sheet"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "If EBOYD53 credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create the header row in the named sheet.": {
      "main": [
        [
          {
            "node": "Set the attributes for the header row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for named GGL Sheets Document": {
      "main": [
        [
          {
            "node": "Make sure we have the correct document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make sure we have the correct document": {
      "main": [
        [
          {
            "node": "If document exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If document exists": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create the named GGL sheets document with named sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create the named GGL sheets document with named sheet": {
      "main": [
        [
          {
            "node": "Move the GGL document to the correct folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move the GGL document to the correct folder": {
      "main": [
        [
          {
            "node": "Set Header Row Data For Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the attributes for the header row": {
      "main": [
        [
          {
            "node": "Search for named GGL Sheets Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header Row Data For Split": {
      "main": [
        [
          {
            "node": "Split row data for automatic mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split row data for automatic mapping": {
      "main": [
        [
          {
            "node": "Create the header row in the named sheet.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Return GGL Sheets ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Set Header Row Data For Split",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Http Request Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If EBOYD53 credentials": {
      "main": [
        [
          {
            "node": "Search for named GGL Sheets Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Http Request Error": {
      "main": [
        [
          {
            "node": "If Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Retry": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Creating Google Spreadsheet Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "which_credentials": "eboyd53",
        "GGL_DRV_path_id": "1rGqF18GtPb90chAAW-XcOsIEljMoXJIi",
        "spreadsheet_file_name": "video_ledger",
        "spreadsheet_sheet_name": "YouTube",
        "spreadsheet_header_row": "[{\"State\": \"\", \"YT_videoId\": \"\", \"Video Title\": \"\", \"YT_videoUrl\": \"\", \"YT_privacyStatus\": \"\", \"YT_uploadTimestamp\": \"\"}]"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
