modules/SWF007 - Upload to YT.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get the video title from the metadata node\nconst title = $('Start').first().json.title;\n\n// Get the first item from the Download Video File node\nconst item = $(\"Download Video\").first();\n\n// Set the new filename for the binary data\nitem.binary.data.fileName = `${title}.mp4`;\n\n// Return the modified item as an array (n8n expects an array of items)\nreturn [item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        1264
      ],
      "id": "5aa133d7-599c-47d6-accb-a8f49dd4672a",
      "name": "Rename Video File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "SSADVISOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a69e533-abed-4c88-8040-1953e7eeb7d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SSADVISOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f2f6a58-d7cd-4730-9251-21951662f823",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "EBOYD53",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EBOYD53"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d9152dd-27ed-485e-b69e-dbe54b87d0dc",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "HOA_NIGHTMARES",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOA_NIGHTMARES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aabe88f1-5861-47a0-a443-7804412679d2",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "OHIO NEWS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OHIO NEWS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18c4fade-23b2-46a3-8d3b-3935075c0972",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "BIBLE READINGS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BIBLE READINGS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6f8996a0-dbe9-4f17-8979-51e76b2cfe92",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "USA STATES NEWS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "USA STATES NEWS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "405c042c-da3a-497f-8202-1a76cb7616e3",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "SCIFY SHORTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SCIFY SHORT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9417008-1233-4298-8f15-1d43fa9c506b",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "RELATIONSHIP_HORROR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RELATIONSHIP_HORROR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df9f1b59-1b6d-4edd-a71b-37dbbbcba117",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO YT UPLOAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd10989f-1c2b-4c4e-b1b9-cf01a6229d77",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "COURTROOM DEFENDANT DRAMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COURTROOM DEFENDANT DRAMA"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "UNKNOWN CREDENTIALS"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5264,
        1120
      ],
      "id": "e530b800-1ecb-4d35-9030-54fb48480064",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1'}}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        592
      ],
      "id": "d8a61672-40c4-4c12-accc-c954c4fd817c",
      "name": "EBOYD53",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "KXJ3i6J0ZkBZlpvQ",
          "name": "YouTube eboyd53@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "WHICH_YOUTUBE_CHANNEL"
            },
            {
              "name": "title"
            },
            {
              "name": "region_code"
            },
            {
              "name": "category_id"
            },
            {
              "name": "language_id"
            },
            {
              "name": "description"
            },
            {
              "name": "hashtags"
            },
            {
              "name": "attribution"
            },
            {
              "name": "embeddable",
              "type": "boolean"
            },
            {
              "name": "license"
            },
            {
              "name": "notify_subscribers",
              "type": "boolean"
            },
            {
              "name": "privacy_status"
            },
            {
              "name": "public_stats_viewable",
              "type": "boolean"
            },
            {
              "name": "publish_at"
            },
            {
              "name": "made_for_kids",
              "type": "boolean"
            },
            {
              "name": "tags"
            },
            {
              "name": "video_url"
            }
          ]
        }
      },
      "id": "6552de47-e850-491f-a447-839d585fc878",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        4144,
        1360
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1'}}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        400
      ],
      "id": "d389a51e-b20a-4a0c-af60-1bff70f77160",
      "name": "SSADVISOR",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "vNrHiuIWyrEntv1c",
          "name": "YouTube SSAdvisor Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1'}}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        976
      ],
      "id": "cd856a25-616e-496a-9792-bdef5f0ce5aa",
      "name": "OHIO DAILY NEWS",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "xtwyJgHhQQLTHEC1",
          "name": "YouTube Ohio Daily News Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1' }}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        1168
      ],
      "id": "205b26c9-b69d-4348-92f4-912a4351a28c",
      "name": "BIBLE READINGS",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "V25Sbr5zJwDV8L9o",
          "name": "YouTube Bible Readings"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96147c8e-27c4-48d9-bce1-1006dba1469d",
              "name": "uploadId",
              "value": "={{\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'SSADVISOR', $('SSADVISOR').first().json.uploadId, '') ||\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'EBOYD53', $('EBOYD53').first().json.uploadId, '') ||\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'HOA_NIGHTMARES', $('HOA_NIGHTMARES').first().json.uploadId, '') ||\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'RELATIONSHIP_HORROR', $('RELATIONSHIP_HORROR').first().json.uploadId, '') ||\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'COURTROOM DEFENDANT DRAMA', $('COURTROOM DEFENDANT DRAMA').first().json.uploadId, '') ||\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'OHIO NEWS', $('OHIO DAILY NEWS').first().json.uploadId, '') ||\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'BIBLE READINGS', $('BIBLE READINGS').first().json.uploadId, '') ||\n\n$if($('Start').first().json.WHICH_YOUTUBE_CHANNEL === 'USA STATES NEWS', $('USA STATES NEWS').first().json.uploadId, '')\n\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5744,
        1168
      ],
      "id": "9ad27d22-7402-42c6-849a-1cada2f812df",
      "name": "Set uploadId"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ls8OvoluAw4Tg2Ls",
          "mode": "list",
          "cachedResultName": "SWF008 - Download File for given URL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_url": "={{ $json.video_url }}"
          },
          "matchingColumns": [
            "file_url"
          ],
          "schema": [
            {
              "id": "file_url",
              "displayName": "file_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4368,
        1360
      ],
      "id": "650d986d-0575-4f5b-9c54-5bf1145ee3a5",
      "name": "Download Video"
    },
    {
      "parameters": {
        "content": "# Upload to YT\n## SWF007\n### Purpose\nUpload video to a given Youtube channel tag.\n### Input\n* WHICH_YT_CHANNEL\n    * Tag to identify which Youtube credential to use.\n* title\n    * The video title\n* region_code\n    * A 2 character tag for where the video should air\n    * E.G. US\n* category_id\n    * A numeric value to identify the category\n    * E.G. 1\n* language_id\n    * A 2 character tag to identify the language of the video\n    * E.G. en\n* description\n    * The description for the video.\n* hashtags\n    * The hashtags (e.g. #youtube #video)\n    * Placed in the Youtube description field under the description you give.\n* attribution\n    * If you need to give notice of authorship or copyright do it here.\n    * Placed in the Youtube description field under the hashtags you give.\n* embeddable\n    * A boolean field giving permission to embed the video.\n* license\n    * A value of either creativeCommon or Youtube\n* notify_subscribers\n    * A boolean field telling Youtube to notify your subscribers\n* privacy_status\n    * A value of one of unlisted, private or public\n    * Note if publish_at below is given this will be a value of private\n* public_stats_viewable\n    * A boolean field giving permission for the stats of the video to be publicly viewable\n* publish_at\n    * A timestamp value for the date and time UTC to publish the video\n* made_for_kids\n    * A boolean field stating that the video is made for kids\n    * This will limit the viewing audience.\n* tags\n    * The tags to apply to the video\n    * E.G. youtube, video\n* video_url\n    * The URL of the source video to upload to Youtube.\n### Output\n* uploadId\n    * The Youtube video ID",
        "height": 1280,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3328,
        352
      ],
      "id": "beed6bdf-e81c-4f4d-a4be-08b2ae37ae4e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title.substring(0, 89) }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1' }}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        1936
      ],
      "id": "40143234-dc6e-4c8d-83d4-7c902da49e3b",
      "name": "USA STATES NEWS",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LVJEczDTgSxHyFIc",
          "name": "YouTube USA_States_News"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ee76887-d0d7-4af1-80b9-ce8d67b70d7c",
              "name": "YT_tags old",
              "value": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}",
              "type": "string"
            },
            {
              "id": "e92882a7-9ef3-455c-9027-3e7036d1f9df",
              "name": "YT_tags",
              "value": "={{ $('Start').first().json.tags }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        1264
      ],
      "id": "ec0d6556-3d7c-4371-a87d-0ca972cf9c2d",
      "name": "Modify tags"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title.substring(0, 89) }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1' }}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        1360
      ],
      "id": "fc92cf85-1ffd-42ec-9c88-6920e1f73636",
      "name": "SCIFY SHORTS",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "BZ9Fs3JUBqqw4uTB",
          "name": "YouTube SciFy-Shorts Account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "=Unknown YouTube Channel: {{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5488,
        2128
      ],
      "id": "a880cfbd-114c-435e-8662-063ebaac408f",
      "name": "Unknown YouTube Channel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa52c971-96fe-44f3-8d42-8b5c46c49253",
              "leftValue": "={{ $json.download_status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4592,
        1360
      ],
      "id": "4e97aefd-8540-49cb-9291-52806d67bb55",
      "name": "If download_status is true"
    },
    {
      "parameters": {
        "errorMessage": "Error in Download Video"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4816,
        1456
      ],
      "id": "b6c49255-fdb7-4879-8463-93b73a9b4125",
      "name": "Error in Download Video"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1'}}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        784
      ],
      "id": "aba058fd-48ba-4094-a74d-b9b95d0d82a3",
      "name": "HOA_NIGHTMARES",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "F5MGgk3BNaXDwnmM",
          "name": "YouTube HOA Nightmares"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1'}}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        1744
      ],
      "id": "28bddd47-1fd4-497f-a281-13e94bcb9420",
      "name": "RELATIONSHIP_HORROR",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "14camdMaIZvZvsbF",
          "name": "YouTube RELATIONSHIP_HORROR"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Start').first().json.title }}",
        "regionCode": "={{ $('Start').first().json.region_code || 'US' }}",
        "categoryId": "={{ $('Start').first().json.category_id || '1'}}",
        "options": {
          "defaultLanguage": "={{ $('Start').first().json.language_id || 'en' }}",
          "description": "={{ $('Start').first().json.description }} \n\n{{ $('Start').first().json.hashtags || '' }}\n\n{{ $('Start').first().json.attribution || '' }}",
          "embeddable": "={{ $('Start').first().json.embeddable || false }}",
          "license": "={{ $('Start').first().json.license || 'creativeCommon' }}",
          "notifySubscribers": "={{ $('Start').first().json.notify_subscribers || false }}",
          "privacyStatus": "={{ $if($('Start').first().json.publish_at\n, 'private'\n, $('Start').first().json.privacy_status || 'unlisted'\n)}}",
          "publicStatsViewable": "={{ $('Start').first().json.public_stats_viewable || true }}",
          "publishAt": "={{ $('Start').first().json.publish_at || null }}",
          "selfDeclaredMadeForKids": "={{ $('Start').first().json.made_for_kids || false }}",
          "tags": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5488,
        1552
      ],
      "id": "b5c02a81-45ad-4721-a976-461171b2b46a",
      "name": "COURTROOM DEFENDANT DRAMA",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "zF4lGRtk635RstcM",
          "name": "YouTube Courtroom Defendant Drama"
        }
      }
    }
  ],
  "connections": {
    "Rename Video File": {
      "main": [
        [
          {
            "node": "Modify tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SSADVISOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EBOYD53",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HOA_NIGHTMARES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OHIO DAILY NEWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BIBLE READINGS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "USA STATES NEWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SCIFY SHORTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RELATIONSHIP_HORROR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown YouTube Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COURTROOM DEFENDANT DRAMA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown YouTube Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EBOYD53": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSADVISOR": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OHIO DAILY NEWS": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BIBLE READINGS": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set uploadId": {
      "main": [
        []
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "If download_status is true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "USA STATES NEWS": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify tags": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCIFY SHORTS": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If download_status is true": {
      "main": [
        [
          {
            "node": "Rename Video File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error in Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOA_NIGHTMARES": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RELATIONSHIP_HORROR": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COURTROOM DEFENDANT DRAMA": {
      "main": [
        [
          {
            "node": "Set uploadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "WHICH_YOUTUBE_CHANNEL": "RELATIONSHIP_HORROR",
        "title": "Trapped in an Abandoned House at Midnight: Every Door Locked and Something Moving Inside",
        "region_code": null,
        "category_id": null,
        "language_id": null,
        "description": "Alone in an abandoned house at midnight, I found myself surrounded by locked doors, eerie creaks, and the chilling certainty that something was moving in the shadows. The fear was suffocating; every second felt like hours, every sound a threat hiding just beyond sight. I was caught between my desperation to escape and the unrelenting pull of fear, the thought that whatever was in there with me knew exactly where I was.\n\nThe night had started with nothing more than curiosity. I had seen the place from the road for years, a rotting silhouette against the moonlight. Its boarded windows, sagging porch, and rusted gate whispered secrets I wasn’t meant to hear. When I stepped inside, the air was thick—stale dust mixed with something older, damp, and unsettling. My flashlight beam cut through the darkness, but instead of bringing reassurance, it only revealed more decay: peeling wallpaper, shattered glass, and strange scratch marks clawed into the walls.\n\nI tried every door I could find. Each one jammed, bolted, or sealed as though someone—something—wanted me to stay. Then came the sound: a faint dragging across the floorboards upstairs, slow and deliberate. My heart pounded in my chest as chills raced over my skin. I wasn’t alone. Someone—or something—was moving with intent. Every creak of the floor above me was deliberate, measured. It was listening. Hunting.\n\nMy flashlight flickered. The darkness pressed closer. I called out, my voice shaking, just to know if anything would answer. Silence. Then came a whisper—it wasn’t a voice but the sound of breath right behind me. I spun around, my light trembling, but nothing was there. My instincts screamed to run, but there was nowhere to go. I felt the temperature drop, a wave of cold that seemed to seep into my bones. A shadow shifted in the corner, and I knew it was watching me. 🕯️\n\nI don’t remember how I got out. The doors that were locked moments before suddenly gave way, as if granting me release. I stumbled into the night, gasping for air, my pulse crashing in my ears. But the feeling followed me home: the sense of being observed, an echo of breath where no one stands. This house didn’t just frighten me—it marked me.\n\nIf you think you’d have the courage to step inside, watch every second of this story. Let it pull you into that house, hold you there in the dark, and listen. You might hear the same dragging steps I can never forget. 😱\n\nDon't forget to like, share, and subscribe if you dare to hear more real encounters like this. Hit the bell icon so you never miss the next chilling story. 🔔",
        "hashtags": "#horror #scary #hauntedhouse #paranormal #trapped #fear #creepy #scarystory",
        "attribution": "Copyright (C) 2025 Seasoned Solutions Advisor LLC",
        "embeddable": true,
        "license": null,
        "notify_subscribers": true,
        "privacy_status": "private",
        "public_stats_viewable": true,
        "publish_at": null,
        "made_for_kids": false,
        "tags": "horror, scary story, haunted house, paranormal, abandoned house, creepy, real horror story, ghost story, trapped, supernatural, urban exploration horror, midnight horror, locked in, eerie, night terror, terrifying experience, haunted location, ghost encounter, creepy abandoned building, spine chilling story",
        "video_url": "https://n8n.connectcircuits.com/webhook/a60c3f68-7bcf-4504-a087-0fb9c7a3fce0/file/ac747b2290b244f6447df5ccad2cfde1e76f33927ae6f9a0df2cb925d88ca7f5.mp4"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
