modules/SWF023 - Update YT Playlist SSADVISOR.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "WHICH_YT_CHANNEL"
            },
            {
              "name": "YT_Video_ID"
            },
            {
              "name": "channel_playlists",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1312,
        -64
      ],
      "id": "31e5464e-5e38-458d-861a-45289d51e71c",
      "name": "Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yeVBGOhJawGitSdM",
          "mode": "list",
          "cachedResultName": "Haves and Have Nots"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "list1": "={{ $('Start').first().json.channel_playlists }}",
            "list2": "={{ $(\"Get playlists\").all() }}",
            "YT_Video_ID": "={{ $('Start').first().json.YT_Video_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "list1",
              "displayName": "list1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "list2",
              "displayName": "list2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -640,
        64
      ],
      "id": "ffe97bfb-ec6a-44d8-930f-b4f87c6e1848",
      "name": "Haves and Have Nots"
    },
    {
      "parameters": {
        "resource": "playlist",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -864,
        64
      ],
      "id": "058ecb75-254f-4897-82b8-db1681cfd907",
      "name": "Get playlists",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "vNrHiuIWyrEntv1c",
          "name": "YouTube SSAdvisor Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04c1a977-4ac5-49a8-86cc-24687e13edd0",
              "leftValue": "={{ $json.have_nots }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        64
      ],
      "id": "60ef05c9-aa5e-4a0a-9f10-aba4a1fed5f3",
      "name": "If have_nots is not empty"
    },
    {
      "parameters": {
        "fieldToSplitOut": "have_nots",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        -32
      ],
      "id": "14c88f8f-b974-40e2-a4f0-bec53b15ee62",
      "name": "Get Playlist Items To Create"
    },
    {
      "parameters": {
        "fieldToSplitOut": "haves",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        160
      ],
      "id": "2a7340cd-ded2-4172-b40e-e197d2a1ff03",
      "name": "Return Playlist Items with ID"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "={{ $json.lid }}",
        "videoId": "={{ $json.vid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        32,
        240
      ],
      "id": "35b4c7e3-4a06-48a4-b94b-27f832e31e57",
      "name": "Add playlist item",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "vNrHiuIWyrEntv1c",
          "name": "YouTube SSAdvisor Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "create",
        "title": "={{ $json.title }}",
        "options": {
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        32,
        48
      ],
      "id": "ce1baffa-9764-4f71-bb52-0fcd09a732fb",
      "name": "Create playlists",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "vNrHiuIWyrEntv1c",
          "name": "YouTube SSAdvisor Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f218f0f-a520-419d-95a4-53a0e117deb2",
              "leftValue": "={{ $json.WHICH_YT_CHANNEL }}",
              "rightValue": "SSADVISOR",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        -64
      ],
      "id": "dba4f4be-0e3c-430b-9d62-aef989f5b073",
      "name": "If wrong WHICH_YT_CHANNEL"
    },
    {
      "parameters": {
        "content": "# Update YT Playlist SSADVISOR\n## SWF023-1\n### Purpose\nAdd YT_Video_ID to the given channel_playlists.\n\n**NOTE:** ```When you duplicate this workflow you need to modify the credentials in the various nodes.```\n\n### Input\n* WHICH_YT_CHANNEL\n* YT_Video_ID\n* channel_playlists\n    * Array of playlists to add the YT_Video_ID to.\n\n### Output\n* YouTube JSON response",
        "height": 512,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        -256
      ],
      "id": "663f7170-6d62-4e1f-92c2-ee6db808f886",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "errorMessage": "The parent has called the wrong WHICH_YT_CHANNEL"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -864,
        -128
      ],
      "id": "b8320af4-be0c-47da-9e54-1b54f7a62118",
      "name": "Wrong Channel"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "If wrong WHICH_YT_CHANNEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haves and Have Nots": {
      "main": [
        [
          {
            "node": "If have_nots is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get playlists": {
      "main": [
        [
          {
            "node": "Haves and Have Nots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If have_nots is not empty": {
      "main": [
        [
          {
            "node": "Get Playlist Items To Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Playlist Items with ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlist Items To Create": {
      "main": [
        [
          {
            "node": "Create playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Playlist Items with ID": {
      "main": [
        [
          {
            "node": "Add playlist item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create playlists": {
      "main": [
        [
          {
            "node": "Get playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If wrong WHICH_YT_CHANNEL": {
      "main": [
        [
          {
            "node": "Wrong Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "WHICH_YT_CHANNEL": "USA STATES NEWS",
        "YT_Video_ID": null,
        "channel_playlists": null
      }
    ]
  },
  "meta": {
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
