modules/SWF052 - Download And Save Temporarily.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        288,
        64
      ],
      "id": "df2e2641-b5a9-488e-aba9-d46818a90a78",
      "name": "Start"
    },
    {
      "parameters": {
        "content": "# Download And Save Temporarily\n## SWF052\n### Purpose\nDownload binary data via the given URL and store the binary data in a temporary file which is retrievable via the Webhook File Server workflow. The Temporary File Cleanup workflow will remove the file at 4 hours or shortly after.\n\n### Input\n* file_url\n\n### Output\n* fileUrl\n    * The URL to use to obtain the file data.\n* hashedFilename\n* originalFilename\n* expiresAt\n* success\n* filePath\n    * The local file path.",
        "height": 512,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -176
      ],
      "id": "a4af12b2-3c73-4c41-8c76-4e260adab225",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $('Start').first().json.file_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        64
      ],
      "id": "e06ccf3c-3375-438b-b5f4-d5112e892f04",
      "name": "Download Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eZzFJnX7CG3RlljQ",
          "mode": "list",
          "cachedResultName": "SWF020 - Temporary Binary File Storage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $('Start').first().json.file_url.split('/').last() }}",
            "data": "={{ $binary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        736,
        64
      ],
      "id": "3e650781-ee54-4561-8389-9ef04ae01cd3",
      "name": "Temporary Binary File Storage",
      "executeOnce": false
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Temporary Binary File Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
