modules/SWF022 - Update Video Ledger Spreadsheet.json

{
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kpEM9u3xtyQfOVNq",
          "mode": "list",
          "cachedResultName": "Find GGL Document File PR2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "which_credentials": "={{ $('Start').first().json.which_credentials }}",
            "drive_file_path": "={{ $('Start').first().json.drive_file_path }}",
            "drive_file_name": "={{ $('Start').first().json.spreadsheet_document_name }}",
            "drive_file_type": "SPREADSHEET"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "which_credentials",
              "displayName": "which_credentials",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "drive_file_path",
              "displayName": "drive_file_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "drive_file_name",
              "displayName": "drive_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "drive_file_type",
              "displayName": "drive_file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        -192
      ],
      "id": "9b548b9d-ba63-45a8-bc32-95c960857f7f",
      "name": "Find Spreadsheet Document Id"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.which_credentials }}",
                    "rightValue": "SSADVISOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6165a597-d761-4be2-9a56-81b24c1ea29d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SSADVISOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "518449dd-da50-4d38-968b-e7f9687fbcf7",
                    "leftValue": "={{ $('Start').item.json.which_credentials }}",
                    "rightValue": "EBOYD53",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EBOYD53"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        -64
      ],
      "id": "3fe84798-0e71-49d6-a22e-7a3f0000223d",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# Update Video Ledger Spreadsheet\n## SWF022\n### Purpose\nUpdate rows in the specified Google Spreadsheet Sheet with the given data.\n\n### Input\n* which_credentials\n* drive_file_path\n* spreadsheet_document_name\n* spreadsheet_sheet_name\n* spreadsheet_fields_to_update\n    * Example:\n```JSON\n    [\n      {\n        \"title\": \"The Dark Side of Becoming Anyone\",\n        \"status\": \"posted\",\n        \"youtubeLink\": \"https://youtube.com/shorts/5MRjazOmO-w\"\n      }\n    ]\n```\n\n### Output\n* nothing useful -- The spreadsheet fields and data are returned",
        "height": 640,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -496
      ],
      "id": "6347ed00-05d8-415c-ae58-38e492fd35ad",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Find Spreadsheet Document Id').item.json.drive_file_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Start').item.json.spreadsheet_sheet_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "youtubeLink",
              "displayName": "youtubeLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1344,
        -96
      ],
      "id": "1bc217b2-110d-4328-8aa9-c7821af35769",
      "name": "Append row in SSADVISOR sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OzQ4PbEIP03p2VmI",
          "name": "GGL Sheets seasonedsolutionsadvisor"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Find Spreadsheet Document Id').item.json.drive_file_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Start').item.json.spreadsheet_sheet_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "youtubeLink",
              "displayName": "youtubeLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1344,
        112
      ],
      "id": "c808a930-f24c-4dfd-a3c1-11c7ac04be7e",
      "name": "Append row in EBOYD53 sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sBSUvpbcf6G35DbF",
          "name": "Google Sheets EBOYD53"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5870194-a9f3-4800-a9e2-9e6e518f693f",
              "name": "rows",
              "value": "={{ $('Start').item.json.spreadsheet_fields_to_update }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -256
      ],
      "id": "e5781c58-6e32-4965-8bbc-92796cae139c",
      "name": "Set rows data to split."
    },
    {
      "parameters": {
        "fieldToSplitOut": "rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        -64
      ],
      "id": "aa995a36-837a-41d5-bba0-7825611cae3c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7acf1a21-62b2-4af7-b4e9-aa0d9b329ffa",
              "leftValue": "={{ $('Find Spreadsheet Document Id').item.json.drive_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        -256
      ],
      "id": "1ec4b2a3-09f0-480a-8a06-c7656992ebed",
      "name": "If we didn't find file"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "which_credentials"
            },
            {
              "name": "drive_file_path"
            },
            {
              "name": "spreadsheet_document_name"
            },
            {
              "name": "spreadsheet_sheet_name"
            },
            {
              "name": "spreadsheet_fields_to_update",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -192
      ],
      "id": "89e1ac30-e596-4c8a-9359-f56e403ff2c7",
      "name": "Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O1WfsgYO8xnmQfLf",
          "mode": "list",
          "cachedResultName": "Create GGL Sheets File"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "which_credentials": "={{ $('Start').item.json.which_credentials }}",
            "spreadsheet_file_name": "={{ $('Start').item.json.spreadsheet_document_name }}",
            "spreadsheet_sheet_name": "={{ $('Start').item.json.spreadsheet_sheet_name }}",
            "GGL_DRV_path_id": "={{ $('Find Spreadsheet Document Id').first().json.drive_path_id }}",
            "spreadsheet_header_row": "[{\"State\": \"\", \"YT_videoId\": \"\", \"Video Title\": \"\", \"YT_videoUrl\": \"\", \"YT_privacyStatus\": \"\", \"YT_uploadTimestamp\": \"\"}]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "which_credentials",
              "displayName": "which_credentials",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "GGL_DRV_path_id",
              "displayName": "GGL_DRV_path_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheet_file_name",
              "displayName": "spreadsheet_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheet_sheet_name",
              "displayName": "spreadsheet_sheet_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheet_header_row",
              "displayName": "spreadsheet_header_row",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        -256
      ],
      "id": "45c65f88-1966-400d-b9eb-ee41a4bcebe5",
      "name": "Create GGL Sheet"
    }
  ],
  "connections": {
    "Find Spreadsheet Document Id": {
      "main": [
        [
          {
            "node": "Set rows data to split.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in SSADVISOR sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in EBOYD53 sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set rows data to split.": {
      "main": [
        [
          {
            "node": "If we didn't find file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If we didn't find file": {
      "main": [
        [
          {
            "node": "Create GGL Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Find Spreadsheet Document Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GGL Sheet": {
      "main": [
        [
          {
            "node": "Find Spreadsheet Document Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "which_credentials": "eboyd53",
        "drive_file_path": "/HOA_Nightmares",
        "spreadsheet_document_name": "video_ledger",
        "spreadsheet_sheet_name": "YouTube",
        "spreadsheet_fields_to_update": "[\n  {\n    \"upload_timestamp\": \"2025-09-22T14:29:08.967-04:00\",\n    \"title\": \"HOA Horror: How a Fence Dispute Turned My Safe Neighborhood into a Paranoid Nightmare\", \n    \"videoId\": \"ATrpoRsiWTs\",\n    \"status\": \"private\", \n    \"youtubeLink\": \"https://youtube.com/shorts/ATrpoRsiWTs\",\n    \"scheduled\": \"\"\n  }\n]\n"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
