modules/SWF023 - Update YT Playlist.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "WHICH_YT_CHANNEL"
            },
            {
              "name": "YT_Video_ID"
            },
            {
              "name": "channel_playlists",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        624
      ],
      "id": "a6f27c8e-cd72-44a5-b2cb-57b17d907c03",
      "name": "Start"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        624
      ],
      "id": "f905ae98-c915-4df9-8e81-a70bce5d97ec",
      "name": "Workflow Controls"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').first().json.WHICH_YT_CHANNEL }}",
                    "rightValue": "SSADVISOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a69e533-abed-4c88-8040-1953e7eeb7d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SSADVISOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f2f6a58-d7cd-4730-9251-21951662f823",
                    "leftValue": "={{ $('Start').first().json.WHICH_YT_CHANNEL }}",
                    "rightValue": "EBOYD53",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EBOYD53"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aabe88f1-5861-47a0-a443-7804412679d2",
                    "leftValue": "={{ $('Start').first().json.WHICH_YT_CHANNEL }}",
                    "rightValue": "OHIO NEWS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OHIO NEWS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18c4fade-23b2-46a3-8d3b-3935075c0972",
                    "leftValue": "={{ $('Start').first().json.WHICH_YT_CHANNEL }}",
                    "rightValue": "BIBLE READINGS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BIBLE READINGS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2895d7e0-fa95-4862-a4bf-9b0b3bc44c65",
                    "leftValue": "={{ $('Start').first().json.WHICH_YT_CHANNEL }}",
                    "rightValue": "USA STATES NEWS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "USA STATES NEWS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        672,
        432
      ],
      "id": "b3de3dac-75f1-4fb3-b81e-738a73f7f32f",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "=Unknown YouTube Channel: {{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        896,
        976
      ],
      "id": "e6f63087-5007-42c7-ab14-23447b19b1a8",
      "name": "Unknown Channel"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LCV46sJas9lL9ZXA",
          "mode": "list",
          "cachedResultName": "Update YT Playlist USA STATES NEWS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "YT_Video_ID": "={{ $('Workflow Controls').first().json.YT_Video_ID }}",
            "channel_playlists": "={{ $('Workflow Controls').first().json.channel_playlists }}",
            "WHICH_YT_CHANNEL": "={{ $('Workflow Controls').first().json.WHICH_YT_CHANNEL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        784
      ],
      "id": "163b81cc-592d-4375-ab54-d27267c60469",
      "name": "Update YT Playlist USA STATES NEWS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "561a5c70-ccd3-4454-87ef-87b60afe297c",
              "leftValue": "={{ $json.channel_playlists }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        624
      ],
      "id": "cd93a4f3-a6f2-4157-a47a-e97b1874012a",
      "name": "If we have channel_playlists"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        752
      ],
      "id": "e73d462f-4ba0-4898-98fc-a410036b8f4e",
      "name": "Nothing to do"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9zAUEDvLPIOYD8LM",
          "mode": "list",
          "cachedResultName": "Update YT Playlist BIBLE READINGS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "WHICH_YT_CHANNEL": "={{ $('Workflow Controls').first().json.WHICH_YT_CHANNEL }}",
            "YT_Video_ID": "={{ $('Workflow Controls').first().json.YT_Video_ID }}",
            "channel_playlists": "={{ $('Workflow Controls').first().json.channel_playlists }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        592
      ],
      "id": "5db4a6da-e0b2-4571-a76d-c037ca19ce93",
      "name": "Update YT Playlist BIBLE READINGS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Du3nqCFoQaZ8OMn0",
          "mode": "list",
          "cachedResultName": "Update YT Playlist OHIO NEWS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "WHICH_YT_CHANNEL": "={{ $('Workflow Controls').first().json.WHICH_YT_CHANNEL }}",
            "YT_Video_ID": "={{ $('Workflow Controls').first().json.YT_Video_ID }}",
            "channel_playlists": "={{ $('Workflow Controls').first().json.channel_playlists }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        400
      ],
      "id": "1af00503-c06e-48a2-99a3-094fd90340c3",
      "name": "Update YT Playlist OHIO NEWS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gvPQ2SPsyyyQEEiW",
          "mode": "list",
          "cachedResultName": "Update YT Playlist EBOYD53"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "WHICH_YT_CHANNEL": "={{ $('Workflow Controls').first().json.WHICH_YT_CHANNEL }}",
            "YT_Video_ID": "={{ $('Workflow Controls').first().json.YT_Video_ID }}",
            "channel_playlists": "={{ $('Workflow Controls').first().json.channel_playlists }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        208
      ],
      "id": "f13b7837-5ee7-4ccf-adc1-2286e37341b5",
      "name": "Update YT Playlist EBOYD53"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pAGkX6iBUQv9vctp",
          "mode": "list",
          "cachedResultName": "Update YT Playlist SSADVISOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "WHICH_YT_CHANNEL": "={{ $('Workflow Controls').first().json.WHICH_YT_CHANNEL }}",
            "YT_Video_ID": "={{ $('Workflow Controls').first().json.YT_Video_ID }}",
            "channel_playlists": "={{ $('Workflow Controls').first().json.channel_playlists }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YT_CHANNEL",
              "displayName": "WHICH_YT_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_playlists",
              "displayName": "channel_playlists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        16
      ],
      "id": "6a295284-76c5-4b9e-b0bd-92497d31c990",
      "name": "Update YT Playlist SSADVISOR"
    },
    {
      "parameters": {
        "content": "# Update YT Playlist\n\n## SWF023\n\n### Purpose\nHandle multiple channel modifications by adding the specified YT_Video_ID to the playlists of the designated WHICH_YT_CHANNEL.\n\n### Input\n* WHICH_YT_CHANNEL\n* YT_Video_ID\n* channel_playlists\n\n### Output\n* YouTube JSON Response",
        "height": 464,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        384
      ],
      "id": "1ee0d633-2533-4e8f-91a7-6f9f5b369abb",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Controls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Controls": {
      "main": [
        [
          {
            "node": "If we have channel_playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update YT Playlist SSADVISOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update YT Playlist EBOYD53",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update YT Playlist OHIO NEWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update YT Playlist BIBLE READINGS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update YT Playlist USA STATES NEWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update YT Playlist USA STATES NEWS": {
      "main": [
        []
      ]
    },
    "If we have channel_playlists": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
