modules/SWF023 - Update YT Playlist OHIO NEWS.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "WHICH_YT_CHANNEL"
            },
            {
              "name": "YT_Video_ID"
            },
            {
              "name": "channel_playlists",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1312,
        -64
      ],
      "id": "553a3adc-79c1-4db3-9d27-301a9a1a4390",
      "name": "Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yeVBGOhJawGitSdM",
          "mode": "list",
          "cachedResultName": "Haves and Have Nots"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "list1": "={{ $('Start').first().json.channel_playlists }}",
            "list2": "={{ $(\"Get playlists\").all() }}",
            "YT_Video_ID": "={{ $('Start').first().json.YT_Video_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "YT_Video_ID",
              "displayName": "YT_Video_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "list1",
              "displayName": "list1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "list2",
              "displayName": "list2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -640,
        64
      ],
      "id": "f1fd81e4-51c0-4142-8b63-d40e2e3e3f31",
      "name": "Haves and Have Nots"
    },
    {
      "parameters": {
        "resource": "playlist",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -864,
        64
      ],
      "id": "d9867afb-a761-4832-9259-c84bc5ba435e",
      "name": "Get playlists",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "xtwyJgHhQQLTHEC1",
          "name": "YouTube Ohio Daily News Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04c1a977-4ac5-49a8-86cc-24687e13edd0",
              "leftValue": "={{ $json.have_nots }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        64
      ],
      "id": "2eacdde7-b408-45ec-b61f-37b748fcdd7b",
      "name": "If have_nots is not empty"
    },
    {
      "parameters": {
        "fieldToSplitOut": "have_nots",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        -32
      ],
      "id": "2302b601-6b3c-4d93-a8b5-c7fd03f78f81",
      "name": "Get Playlist Items To Create"
    },
    {
      "parameters": {
        "fieldToSplitOut": "haves",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        160
      ],
      "id": "f65cb367-0ba4-4551-9654-f75455abd4b3",
      "name": "Return Playlist Items with ID"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "={{ $json.lid }}",
        "videoId": "={{ $json.vid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        32,
        240
      ],
      "id": "62944015-c34d-482f-8bf2-5eb794cac2cd",
      "name": "Add playlist item",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "xtwyJgHhQQLTHEC1",
          "name": "YouTube Ohio Daily News Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "create",
        "title": "={{ $json.title }}",
        "options": {
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        32,
        48
      ],
      "id": "b6fe793f-0de3-4aed-9595-e6150ef6ee99",
      "name": "Create playlists",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "xtwyJgHhQQLTHEC1",
          "name": "YouTube Ohio Daily News Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f218f0f-a520-419d-95a4-53a0e117deb2",
              "leftValue": "={{ $json.WHICH_YT_CHANNEL }}",
              "rightValue": "OHIO NEWS",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        -64
      ],
      "id": "db8c979f-30ab-45d6-87ce-10559357d92a",
      "name": "If wrong WHICH_YT_CHANNEL"
    },
    {
      "parameters": {
        "content": "# Update YT Playlist OHIO NEWS\n## SWF023-3\n### Purpose\nAdd YT_Video_ID to the given channel_playlists.\n\n**NOTE:** ```When you duplicate this workflow you need to modify the credentials in the various nodes.```\n\n### Input\n* WHICH_YT_CHANNEL\n* YT_Video_ID\n* channel_playlists\n    * Array of playlists to add the YT_Video_ID to.\n\n### Output\n* YouTube JSON response",
        "height": 512,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        -256
      ],
      "id": "cf46e34d-f3ca-4bfd-880a-6be7b97a1df9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "errorMessage": "This workflow is only for OHIO NEWS"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -864,
        -128
      ],
      "id": "d0bd84c8-be06-4957-be79-14086260e00c",
      "name": "Wrong Channel"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "If wrong WHICH_YT_CHANNEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haves and Have Nots": {
      "main": [
        [
          {
            "node": "If have_nots is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get playlists": {
      "main": [
        [
          {
            "node": "Haves and Have Nots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If have_nots is not empty": {
      "main": [
        [
          {
            "node": "Get Playlist Items To Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Playlist Items with ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlist Items To Create": {
      "main": [
        [
          {
            "node": "Create playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Playlist Items with ID": {
      "main": [
        [
          {
            "node": "Add playlist item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create playlists": {
      "main": [
        [
          {
            "node": "Get playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If wrong WHICH_YT_CHANNEL": {
      "main": [
        [
          {
            "node": "Wrong Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "WHICH_YT_CHANNEL": "USA STATES NEWS",
        "YT_Video_ID": null,
        "channel_playlists": null
      }
    ]
  },
  "meta": {
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
