modules/levels/level2/SWF030 - Download And Save.json
{
  "name": "SWF030 - Download And Save",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "download_url"
            },
            {
              "name": "filename"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "156ba589-420a-40ce-b9d5-5c4d8284b259",
      "name": "Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ls8OvoluAw4Tg2Ls",
          "mode": "list",
          "cachedResultName": "Download File for given URL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_url": "={{ $json.download_url }}"
          },
          "matchingColumns": [
            "file_url"
          ],
          "schema": [
            {
              "id": "file_url",
              "displayName": "file_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "e7379084-e4be-4608-be48-67b1dbcce884",
      "name": "Download  File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eZzFJnX7CG3RlljQ",
          "mode": "list",
          "cachedResultName": "Temporary Binary File Storage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $('Start').first().json.filename }}",
            "data": "={{ $binary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "f9d6cd04-eca0-4cc1-8a95-856ef90e7b95",
      "name": "Temporary Binary File Storage"
    },
    {
      "parameters": {
        "content": "# Download and Save\n\n## SWF030\n\n### Purpose\nDownload the binary of the file pointed to by the given URL and store it temporarily.\n\n### Input\n* download_url\n* filename\n\n### Output\n* fileUrl\n    * Webhook URL\n* hashedFilename\n* originalFilename\n* expiresAt\n* success\n* filePath\n* data\n    * Binary file data",
        "height": 592,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -288
      ],
      "id": "1f3580ac-8b01-41cc-880d-d419aa1aa5ce",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Download  File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download  File": {
      "main": [
        [
          {
            "node": "Temporary Binary File Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
