modules/levels/level2/SWF007 - Upload to YT.json
{
  "name": "SWF007 - Upload to YT",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get the video title from the metadata node\nconst title = $('Start').first().json.title;\n\n// Get the first item from the Download Video File node\nconst item = $(\"Download Video\").first();\n\n// Set the new filename for the binary data\nitem.binary.data.fileName = `${title}.mp4`;\n\n// Return the modified item as an array (n8n expects an array of items)\nreturn [item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        240
      ],
      "id": "6e5bd246-cea1-4c3b-a83a-3aa04970d008",
      "name": "Rename Video File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "YT CHAN 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a69e533-abed-4c88-8040-1953e7eeb7d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YT CHAN 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f2f6a58-d7cd-4730-9251-21951662f823",
                    "leftValue": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}",
                    "rightValue": "YT CHAN 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YT CHAN 2"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "UNKNOWN CREDENTIALS"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1936,
        224
      ],
      "id": "cecab101-99d7-48b4-9bb2-a31065687312",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "WHICH_YOUTUBE_CHANNEL"
            },
            {
              "name": "title"
            },
            {
              "name": "region_code"
            },
            {
              "name": "category_id"
            },
            {
              "name": "language_id"
            },
            {
              "name": "description"
            },
            {
              "name": "hashtags"
            },
            {
              "name": "attribution"
            },
            {
              "name": "embeddable",
              "type": "boolean"
            },
            {
              "name": "license"
            },
            {
              "name": "notify_subscribers",
              "type": "boolean"
            },
            {
              "name": "privacy_status"
            },
            {
              "name": "public_stats_viewable",
              "type": "boolean"
            },
            {
              "name": "publish_at"
            },
            {
              "name": "made_for_kids",
              "type": "boolean"
            },
            {
              "name": "tags"
            },
            {
              "name": "video_url"
            }
          ]
        }
      },
      "id": "166bdb30-209f-42e1-9ac4-8ee906c83306",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        816,
        336
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ls8OvoluAw4Tg2Ls",
          "mode": "list",
          "cachedResultUrl": "/workflow/ls8OvoluAw4Tg2Ls",
          "cachedResultName": "SWF008 - Download File for given URL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_url": "={{ $json.video_url }}"
          },
          "matchingColumns": [
            "file_url"
          ],
          "schema": [
            {
              "id": "file_url",
              "displayName": "file_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        336
      ],
      "id": "9760a038-bb4f-4ca4-aabd-d2e88a5801a2",
      "name": "Download Video"
    },
    {
      "parameters": {
        "content": "# Upload to YT\n## SWF007\n### Purpose\nUpload video to a given Youtube channel tag.\n### Input\n* WHICH_YT_CHANNEL\n    * Tag to identify which Youtube credential to use.\n* title\n    * The video title\n* region_code\n    * A 2 character tag for where the video should air\n    * E.G. US\n* category_id\n    * A numeric value to identify the category\n    * E.G. 1\n* language_id\n    * A 2 character tag to identify the language of the video\n    * E.G. en\n* description\n    * The description for the video.\n* hashtags\n    * The hashtags (e.g. #youtube #video)\n    * Placed in the Youtube description field under the description you give.\n* attribution\n    * If you need to give notice of authorship or copyright do it here.\n    * Placed in the Youtube description field under the hashtags you give.\n* embeddable\n    * A boolean field giving permission to embed the video.\n* license\n    * A value of either creativeCommon or Youtube\n* notify_subscribers\n    * A boolean field telling Youtube to notify your subscribers\n* privacy_status\n    * A value of one of unlisted, private or public\n    * Note if publish_at below is given this will be a value of private\n* public_stats_viewable\n    * A boolean field giving permission for the stats of the video to be publicly viewable\n* publish_at\n    * A timestamp value for the date and time UTC to publish the video\n* made_for_kids\n    * A boolean field stating that the video is made for kids\n    * This will limit the viewing audience.\n* tags\n    * The tags to apply to the video\n    * E.G. youtube, video\n* video_url\n    * The URL of the source video to upload to Youtube.\n### Output\n* uploadId\n    * The Youtube video ID",
        "height": 1280,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d5a60b62-e179-489b-b2d8-0b2a4be38d1c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ee76887-d0d7-4af1-80b9-ce8d67b70d7c",
              "name": "YT_tags old",
              "value": "={{ $('Start').first().json.tags.replaceAll(', ',',').replaceAll(' ','_').split(',').unique().join(',').substring(0, 499) }}",
              "type": "string"
            },
            {
              "id": "e92882a7-9ef3-455c-9027-3e7036d1f9df",
              "name": "YT_tags",
              "value": "={{ $('Start').first().json.tags }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        240
      ],
      "id": "4b9d7107-2910-498a-9a76-375ac2817e65",
      "name": "Modify tags"
    },
    {
      "parameters": {
        "errorMessage": "=Unknown YouTube Channel: {{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2160,
        432
      ],
      "id": "ae60cf8e-d78f-4a97-aa0c-7bcc806a64c5",
      "name": "Unknown YouTube Channel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa52c971-96fe-44f3-8d42-8b5c46c49253",
              "leftValue": "={{ $json.download_status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        336
      ],
      "id": "88146af3-3f06-4608-9fb4-9c42b3227c00",
      "name": "If download_status is true"
    },
    {
      "parameters": {
        "errorMessage": "Error in Download Video"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1488,
        432
      ],
      "id": "2e860afe-aa2f-4765-95f9-8a41890fc857",
      "name": "Error in Download Video"
    },
    {
      "parameters": {
        "content": "# 2025-10-30\n## Add YouTube HTTP Request Error Management",
        "height": 128,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1328
      ],
      "id": "cf9370ff-593d-465c-acff-803fc4e944b5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 2025-11-05\n## Move each channel upload to its own sub-workflow\n* n8n YouTube node began not setting the metadata",
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1504
      ],
      "id": "afa6aa90-2ccc-4fb4-867a-ce3d3777c164",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FSosiDEjhgcpuQoF",
          "mode": "list",
          "cachedResultUrl": "/workflow/FSosiDEjhgcpuQoF",
          "cachedResultName": "SWF007 - YT CHAN 1 Upload to YT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Switch').item.binary.data }}",
            "video_url": "={{ $('Start').first().json.video_url }}",
            "tags": "={{ $('Start').first().json.tags }}",
            "made_for_kids": "={{ $('Start').first().json.made_for_kids }}",
            "publish_at": "={{ $('Start').first().json.publish_at }}",
            "public_stats_viewable": "={{ $('Start').first().json.public_stats_viewable }}",
            "privacy_status": "={{ $('Start').first().json.privacy_status }}",
            "notify_subscribers": "={{ $('Start').first().json.notify_subscribers }}",
            "license": "={{ $('Start').first().json.license }}",
            "embeddable": "={{ $('Start').first().json.embeddable }}",
            "attribution": "={{ $('Start').first().json.attribution }}",
            "hashtags": "={{ $('Start').first().json.hashtags }}",
            "description": "={{ $('Start').first().json.description }}",
            "language_id": "={{ $('Start').first().json.language_id }}",
            "category_id": "={{ $('Start').first().json.category_id }}",
            "region_code": "={{ $('Start').first().json.region_code }}",
            "title": "={{ $('Start').first().json.title }}",
            "WHICH_YOUTUBE_CHANNEL": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YOUTUBE_CHANNEL",
              "displayName": "WHICH_YOUTUBE_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "region_code",
              "displayName": "region_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "language_id",
              "displayName": "language_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "attribution",
              "displayName": "attribution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "embeddable",
              "displayName": "embeddable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "license",
              "displayName": "license",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notify_subscribers",
              "displayName": "notify_subscribers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "privacy_status",
              "displayName": "privacy_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "public_stats_viewable",
              "displayName": "public_stats_viewable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "publish_at",
              "displayName": "publish_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "made_for_kids",
              "displayName": "made_for_kids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2160,
        48
      ],
      "id": "a6ecd6ed-0a89-428e-a77c-c99ad194a801",
      "name": "Call 'SWF007 - YT CHAN 1 Upload to YT'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "l7yEBEN1ECimpYFS",
          "mode": "list",
          "cachedResultUrl": "/workflow/l7yEBEN1ECimpYFS",
          "cachedResultName": "SWF007 - YT CHAN 2 Upload to YT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Switch').item.binary.data }}",
            "video_url": "={{ $('Start').first().json.video_url }}",
            "tags": "={{ $('Start').first().json.tags }}",
            "made_for_kids": "={{ $('Start').first().json.made_for_kids }}",
            "publish_at": "={{ $('Start').first().json.publish_at }}",
            "public_stats_viewable": "={{ $('Start').first().json.public_stats_viewable }}",
            "privacy_status": "={{ $('Start').first().json.privacy_status }}",
            "notify_subscribers": "={{ $('Start').first().json.notify_subscribers }}",
            "license": "={{ $('Start').first().json.license }}",
            "embeddable": "={{ $('Start').first().json.embeddable }}",
            "attribution": "={{ $('Start').first().json.attribution }}",
            "hashtags": "={{ $('Start').first().json.hashtags }}",
            "description": "={{ $('Start').first().json.description }}",
            "language_id": "={{ $('Start').first().json.language_id }}",
            "category_id": "={{ $('Start').first().json.category_id }}",
            "region_code": "={{ $('Start').first().json.region_code }}",
            "title": "={{ $('Start').first().json.title }}",
            "WHICH_YOUTUBE_CHANNEL": "={{ $('Start').first().json.WHICH_YOUTUBE_CHANNEL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WHICH_YOUTUBE_CHANNEL",
              "displayName": "WHICH_YOUTUBE_CHANNEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "region_code",
              "displayName": "region_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "language_id",
              "displayName": "language_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "attribution",
              "displayName": "attribution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "embeddable",
              "displayName": "embeddable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "license",
              "displayName": "license",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notify_subscribers",
              "displayName": "notify_subscribers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "privacy_status",
              "displayName": "privacy_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "public_stats_viewable",
              "displayName": "public_stats_viewable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "publish_at",
              "displayName": "publish_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "made_for_kids",
              "displayName": "made_for_kids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2160,
        240
      ],
      "id": "e849cbbe-4225-4d9c-8698-781c0d30fe21",
      "name": "Call 'SWF007 - YT CHAN 2 Upload to YT'"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "WHICH_YOUTUBE_CHANNEL": "YT CHAN 2",
          "title": "State News Update: Major Developments Unfold in Local Government Today",
          "region_code": null,
          "category_id": null,
          "language_id": null,
          "description": "Breaking state news: I reveal major state news updates and critical developments in local government, analyzing the impact of these state news reports on our daily lives. As I walk you through the unfolding story, you'll discover how this state news shapes community decisions and ignites new public discussions. The tension builds as new facts emerge, uncovering the motivations behind key political moves, and I explore the emotional toll these changes have on citizens and lawmakers alike. \n\nFrom the initial headlines to exclusive insights, I share the latest revelations in state government activity, emphasizing the importance of transparency and accountability. My coverage dives deep into urgent topics—policy changes, controversial events, and the reactions from officials—as I navigate the emotional highs and lows with you in real time.\n\nThroughout the report, I highlight the voices of those most affected, bringing you interviews, local perspectives, and on-the-ground analysis. The story takes unexpected turns, as community members rally for justice and demand answers, and I connect the dots between breaking news and the broader political landscape. By staying informed, I help you understand the deeper significance of current state news and what these updates mean for the future of local governance.\n\nAs the coverage concludes, there is a call to action for viewers everywhere: stay involved, share your opinions in the comments, and subscribe for the latest state news updates. Hit the like button if you found this report informative, and don't forget to share it with your network to keep our community engaged and empowered.",
          "hashtags": "#state_news #localgovernment #breakingnews #politics #publicaffairs",
          "attribution": "Copyright (C) 2025 Seasoned Solutions Advisor LLC",
          "embeddable": true,
          "license": null,
          "notify_subscribers": true,
          "privacy_status": "private",
          "public_stats_viewable": true,
          "publish_at": null,
          "made_for_kids": false,
          "tags": "state_news,localgovernment,breakingnews,statnews,governance,government,news,state_updates,politics,state_affairs,statnew,community",
          "video_url": "https://n8n.yourWebHostname.com/webhook/a60c3f68-7bcf-4504-a087-0fb9c7a3fce0/file/565a793732db55eee8a5fd1fd9e03e3903a8e332673b97c67ffda2899262c58a.mp4"
        }
      }
    ]
  },
  "connections": {
    "Rename Video File": {
      "main": [
        [
          {
            "node": "Modify tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'SWF007 - YT CHAN 1 Upload to YT'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'SWF007 - YT CHAN 2 Upload to YT'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown YouTube Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "If download_status is true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify tags": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If download_status is true": {
      "main": [
        [
          {
            "node": "Rename Video File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error in Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ad411f5-99c8-4aae-a080-3907affcc0fa",
  "meta": {
    "instanceId": "1a9bddba989a25b9b63277adaf1f54896f7309e49579080eb90bf0a9338b3602"
  },
  "id": "H922QFfi4L5JIQk4",
  "tags": [
    {
      "name": "Production",
      "id": "AU6GjdkcPIm4CJcG",
      "updatedAt": "2025-11-11T14:57:59.679Z",
      "createdAt": "2025-11-11T14:57:59.679Z"
    },
    {
      "name": "PR1",
      "id": "6OTkWEf873dFbuIo",
      "updatedAt": "2025-11-11T14:57:59.699Z",
      "createdAt": "2025-11-11T14:57:59.699Z"
    },
    {
      "name": "SWF007",
      "id": "y3IMSewVfSEATcOn",
      "updatedAt": "2025-11-11T14:57:59.737Z",
      "createdAt": "2025-11-11T14:57:59.737Z"
    },
    {
      "updatedAt": "2025-09-11T00:38:56.991Z",
      "createdAt": "2025-09-11T00:38:56.991Z",
      "id": "ydubjRItVIm8Dtc7",
      "name": "Module"
    }
  ]
}
