modules/levels/level2/SWF019 - Find GGL Document File.json
{
  "name": "SWF019 - Find GGL Document File",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ufM90UdskwrMH84u",
          "mode": "list",
          "cachedResultName": "Find GGL Drive Path PR2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "which_credentials": "={{ $json.which_credentials }}",
            "file_path": "={{ $json.drive_file_path }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "which_credentials",
              "displayName": "which_credentials",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "file_path",
              "displayName": "file_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "5f569c06-bfd1-4896-9f69-5bdc22f4168b",
      "name": "Find GGL Drive Path",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "which_credentials"
            },
            {
              "name": "drive_file_path"
            },
            {
              "name": "drive_file_name"
            },
            {
              "name": "drive_file_type"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4b73762b-a0d6-4190-b233-b7dd37dfe5a6",
      "name": "Start"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48f263ad-cb0d-4f83-987e-0f61ad04b48f",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "79fecaa0-45f6-4e17-acb7-5d5bd847d777",
      "name": "If File Not Found"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abef31d4-744a-410f-8769-f83f3a8c758f",
              "name": "drive_file_id",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "12dd66ef-7d8e-4449-a01f-6f096c5def8c",
              "name": "drive_path_id",
              "value": "={{ $('Find GGL Drive Path').item.json.folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -96
      ],
      "id": "ddada9ea-c32c-4f61-8d8b-025b8b9dc112",
      "name": "Return null drive_file_id"
    },
    {
      "parameters": {
        "content": "# Find GGL Document File\n## SWF019\n### Purpose\nFind ID of the given file name in Google Drive\n### Input\n* which_crendentials\n* drive_file_path\n* drive_file_name\n* drive_file_type\n### Output\n* drive_file_id\n    * The drive file id or null.",
        "height": 440,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -256
      ],
      "id": "eefb3fb3-7481-489c-9043-8506fba265df",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "409302cb-d8c0-42c7-8c14-183e376a6580",
              "name": "drive_file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "790a6361-1545-456d-a019-e79581bbeddc",
              "name": "drive_path_id",
              "value": "={{ $('Find GGL Drive Path').first().json.folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        112
      ],
      "id": "ca80d327-c209-4892-bad4-a1f84173fe7a",
      "name": "Return drive_file_id"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').first().json.which_credentials.toUpperCase() }}",
                    "rightValue": "SSADVISOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ef905bf7-5468-48a9-8cb4-19c416038d10"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SSADVISOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f920ca4-86c6-4bc7-a37d-bf7ff338834c",
                    "leftValue": "={{ $('Start').first().json.which_credentials.toUpperCase() }}",
                    "rightValue": "EBOYD53",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EBOYD53"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        432,
        0
      ],
      "id": "9d328973-9c2c-4503-bdda-4da8df03c292",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Start').item.json.drive_file_name }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folder_id }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "*"
          ]
        },
        "options": {
          "fields": [
            "id",
            "name",
            "kind"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -112
      ],
      "id": "83a8e29e-425e-4683-ad6b-f6c6bd36eb13",
      "name": "Find File for SSADVISOR",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EmOx2Vwbkitjzmsa",
          "name": "GGL Drive seasonedsolutionsadvisor"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Start').first().json.drive_file_name }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folder_id }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "*"
          ],
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "id",
            "name",
            "kind"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        192
      ],
      "id": "a542f929-be69-4887-96a1-dd588b64bb18",
      "name": "Find File for EBOYD53",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ddbrnr2ZeNfJZGtt",
          "name": "Google Drive EBOYD53"
        }
      }
    }
  ],
  "connections": {
    "Find GGL Drive Path": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Find GGL Drive Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Not Found": {
      "main": [
        [
          {
            "node": "Return null drive_file_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return drive_file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Find File for SSADVISOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find File for EBOYD53",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find File for SSADVISOR": {
      "main": [
        [
          {
            "node": "If File Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find File for EBOYD53": {
      "main": [
        [
          {
            "node": "If File Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "which_credentials": "eboyd53",
        "drive_file_path": "/HOA_Nightmares",
        "drive_file_name": "video_ledger",
        "drive_file_type": "SPREADSHEET"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  }
}
