modules/levels/level2/SWF014 - Generate Script.json
{
  "name": "SWF014 - Generate Script",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "System_Prompt"
            },
            {
              "name": "User_Prompt"
            },
            {
              "name": "Model"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        400
      ],
      "id": "fd66ad10-8236-4ff8-a7ff-41249c689f42",
      "name": "Execute Video Script"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10744d10-9e8c-49b7-bc13-5a2b1d98aa08",
              "name": "system_prompt",
              "value": "={{ $ifEmpty($input.first().json.System_Prompt, \n`You are an award-winning science-fiction screenwriter specializing in mobile-first video content with expertise in futuristic narratives.\n\nCORE DIRECTIVE: Generate stories with MAXIMUM THEMATIC AND CHARACTER DIVERSITY by randomly selecting from different sci-fi subgenres and character archetypes.\n\nWrite a 6-beat script (<150 words total) for the first 15 seconds.\n\nRANDOMIZATION PROTOCOL:\n- Randomly select ONE primary theme from this rotating list: [neural enhancement, time manipulation, quantum consciousness, bioengineering ethics, digital immortality, reality simulation, AI evolution, space colonization, memory trading, genetic democracy, consciousness transfer, dimensional bleeding, synthetic biology, nano-ecology, mind-machine fusion]\n\n- Randomly select ONE character archetype combination from: [reluctant augmented human + AI companion, rogue biohacker + corporate spy, time refugee + quantum detective, memory thief + digital ghost, gene-modded outcast + baseline human, consciousness hacker + synthetic being, reality glitch survivor + system administrator, nano-plague survivor + enhancement designer]\n\nSTRUCTURE REQUIREMENTS:\n• S1 (Hook, <20 words): Create an unexpected scenario that disrupts normal reality\n• S2 (Context, <20 words): Establish the protagonist and their unique futuristic circumstance  \n• S3 (Problem, <25 words): Present a moral/survival dilemma specific to your chosen theme\n• S4 (Twist, <25 words): Reveal hidden consequences or competing forces\n• S5 (Climax, <25 words): Show a critical choice or revelation moment\n• S6 (Resolution, <20 words): End with implications for humanity/reality\n\nAdd:\n• T (<60 characters, curiosity-driven headline, no emojis)\n• D (<120 characters + exactly 3 hashtags: 1 niche sci-fi, 1 broad audience, 1 branded)\n\nVARIATION MANDATE: Each execution must feel completely distinct in theme, character dynamics, and speculative elements. Avoid repetition of concepts, character types, or narrative structures.\n\nReturn **one single-line compact JSON object** in this exact key order:\n{\"S1\":\"...\", \"S2\":\"...\", \"S3\":\"...\", \"S4\":\"...\", \"S5\":\"...\", \"S6\":\"...\", \"T\":\"...\", \"D\":\"... #SciFiNiche #BroadAppeal #BrandedTag\"}`\n\n) }}",
              "type": "string"
            },
            {
              "id": "b91856e5-5550-4a7c-b5fe-cf14f88730af",
              "name": "user_prompt",
              "value": "={{$ifEmpty($input.first().json.User_Prompt, `Generate a unique sci-fi narrative using the structure above.\n\nRANDOMIZATION SEEDS: [Include 2-3 random seed words from different categories each time]\n- Technology seeds: [quantum entanglement, bio-synthesis, memory crystallization, neural bridging, dimensional phasing]\n- Character seeds: [augmented outcast, gene-pure rebel, consciousness thief, reality engineer, time smuggler]  \n- Conflict seeds: [identity crisis, system betrayal, enhanced vs natural, temporal paradox, reality fracture]\n\nMANDATORY VARIATIONS:\n1. Theme must explore consequences of advanced technology on human identity/society\n2. Characters must have contradictory motivations or conflicting loyalties\n3. Setting must feel authentically futuristic yet relatable\n\nTone: Cinematic and urgent, accessible to general audiences.\nNo profanity, no brand names.\nEach generation should feel like discovering a completely new corner of the sci-fi universe.\n`)}}",
              "type": "string"
            },
            {
              "id": "2e51c636-8eef-4819-8f6a-26cc4b215d36",
              "name": "Model",
              "value": "={{ $ifEmpty($input.first().json.Model, 'openai') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        400
      ],
      "id": "cc08f372-d395-4d50-8958-f52b7d316661",
      "name": "Set default inputs"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items to deal with model=\"deepseek\" output\nfor (const item of $input.all()) {\n  try {\n    item.json.parsed = JSON.parse(item.json.originalResponse);\n  } catch (error) {\n    item.json.parsed = item.json.originalResponse\n  }\n  if (item.json.parsed.reasoning_content) {\n    item.json.text = item.json.parsed.reasoning_content;\n  } else {\n    item.json.text = item.json.parsed;\n  }\n  delete item.json.parsed;\n}\n\nreturn $input.first();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -32
      ],
      "id": "d500ad7f-b41e-42fb-bae9-e4058edef1f6",
      "name": "Extract Objects"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zero2launch.com/generate-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $json.Model,\n  messages: [\n    {\n      role: \"system\",\n      content: $json.system_prompt\n    },\n    {\n      role: \"user\",\n      content: $json.user_prompt\n    }\n  ]\n}) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5005
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        208
      ],
      "id": "5dcf7f90-dddd-4d5b-911f-22a18d57d37f",
      "name": "Generate Text",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "lymWqGQ67PUobVpS",
          "name": "Header Auth Z2L"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "# Generate Script\n## SWF014\n### Purpose\nCall the Z2L generate-text API with the given inputs returning generated_prompt.\n### Input\n* System_Prompt\n* User_Prompt\n* Model\n### Output\n* generated_text {output: \"...\"}\n* unknown_error",
        "height": 384,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        48
      ],
      "id": "e04f7f42-0d28-4ce3-a2a1-f35cd3223ee4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4830e96f-76d6-482f-88d5-209d243b5947",
              "name": "generated_text",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "af7b0fb7-da24-407a-8aab-c74450aca5ce",
              "name": "unknown_error",
              "value": "={{ $json.error }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        240
      ],
      "id": "7eca1917-363f-4601-84d7-35ec552798d0",
      "name": "Return generated_text"
    },
    {
      "parameters": {
        "jsCode": "let raw = null;\nlet jsonMatch = null;\ntry {\n  raw = $input.first().json.originalResponse;\n  jsonMatch = raw.match(/{.*}/s); // Match the first JSON object in the string\n} catch (e) {\n  raw = JSON.stringify($input.first().json.originalResponse);\n  jsonMatch = raw.match(/{.*}/s);\n}\nlet parsed;\ntry {\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n    if (typeof parsed === 'object') {\n      return [{ json: { output: parsed } }];\n    } else {\n      throw new Error('Parsed value is not an object');\n    }\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  // Return the raw text if not JSON\n  return [{ json: { output: {output: raw} } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -32
      ],
      "id": "34854956-2db7-42f3-80a3-8ee9a69ed180",
      "name": "Generate Text Cleaned1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JFqvFHES7a8UJ5bC",
          "mode": "list",
          "cachedResultName": "LLM Completeness Check"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "LLM_Response": "={{ $input.first().json.text }}",
            "control_hash": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "LLM_Response",
              "displayName": "LLM_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "control_hash",
              "displayName": "control_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        720,
        -32
      ],
      "id": "4e63f386-cd30-4c77-901f-8c1d64201e60",
      "name": "LLM Completeness Check"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Zy23SQ1NqBBCmVwM",
          "mode": "list",
          "cachedResultName": "SWF018 - HTTP Request Error Management"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.error.status }}",
            "code": "={{ $json.error.code }}",
            "E429_wait_seconds": 5.01,
            "E500_wait_seconds": 30
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "E429_wait_seconds",
              "displayName": "E429_wait_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "E500_wait_seconds",
              "displayName": "E500_wait_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        496,
        352
      ],
      "id": "c11d2ae2-9d63-44b2-8be0-511ca1c408ea",
      "name": "HTTP Request Error Management"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a89c1201-eeab-4437-b886-74d1a771b21c",
              "leftValue": "={{ $json.retry }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        432
      ],
      "id": "29f4f69d-d610-4a36-afdd-4a7e4884a5dc",
      "name": "If Retry"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38d735fa-1d00-4332-aadb-43e4329d4535",
              "leftValue": "$json.text",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -16
      ],
      "id": "408a58b5-8199-4b16-bda0-610863f6eeef",
      "name": "If text is empty"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        192
      ],
      "id": "b803b9a4-6542-4f0c-beea-b5659e7d21a6",
      "name": "Wait 10s",
      "webhookId": "a9668581-c5db-464e-be26-12e31afbfc71"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36b2d634-e6fc-4d1f-8016-e133a17c66e7",
              "leftValue": "={{ $json.text }}",
              "rightValue": "{\"error\": \"all_tokens_failed\", \"status\": 500, \"message\": \"Failed\"}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        112
      ],
      "id": "134a4cd8-bd9a-4370-8452-6d896d5a36b7",
      "name": "If not equal to \"{\"error\": \"all_tokens_failed\", \"status\": 500, \"message\": \"Failed\"}\""
    }
  ],
  "pinData": {
    "Execute Video Script": [
      {
        "json": {
          "System_Prompt": "You are an AI tasked with converting a horror story transcript into a single, cinematic image prompt for AI art generators like Flux.\n\t1.\tAbsorb the entire transcript.\n\t2.\tIdentify the scene with the strongest visual impact and peak tension.\n\t3.\tCompose one evocative, atmosphere-dripping prompt that brings that moment to life.\n\t4.\tFocus on setting, light, color palette, and eerie details.\n\t5.\tExclude any direct quotes or narrative snippets.\n\t6.\tReturn only the final image prompt—no code, labels, or commentary.\n\nExample:\nA decrepit Gothic cathedral under a blood-red sky, its shattered stained-glass windows glowing from within as ghostly silhouettes drift among toppled pews.",
          "User_Prompt": "He had made us believe that loyalty was a thing you could quantify, a ledger entry that you could balance by lighting a charity lamp or laying a cornerstone in a shop window where the town could see your generosity and call it virtue The forged document did not merely threaten the father’s reputation; it threatened the idea of the circle itself The village where I grew up—where every face had a name and every name bore a history—lived on the assumption that the strong held the weak and that the strong used their strength with a measured grace",
          "Model": "evil"
        }
      }
    ]
  },
  "connections": {
    "Execute Video Script": {
      "main": [
        [
          {
            "node": "Set default inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set default inputs": {
      "main": [
        [
          {
            "node": "Generate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Objects": {
      "main": [
        [
          {
            "node": "Generate Text Cleaned1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Text": {
      "main": [
        [
          {
            "node": "If not equal to \"{\"error\": \"all_tokens_failed\", \"status\": 500, \"message\": \"Failed\"}\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Error Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Text Cleaned1": {
      "main": [
        [
          {
            "node": "Return generated_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Completeness Check": {
      "main": [
        [
          {
            "node": "Extract Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Error Management": {
      "main": [
        [
          {
            "node": "If Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Retry": {
      "main": [
        [
          {
            "node": "Set default inputs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return generated_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If text is empty": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Completeness Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Set default inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not equal to \"{\"error\": \"all_tokens_failed\", \"status\": 500, \"message\": \"Failed\"}\"": {
      "main": [
        [
          {
            "node": "If text is empty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e6dd7bd-667d-4492-b714-714681b7d3fa",
  "meta": {
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  },
  "id": "nlewIQWnXuZEMvCt",
  "tags": [
    {
      "updatedAt": "2025-07-24T12:24:28.570Z",
      "createdAt": "2025-07-24T12:24:28.570Z",
      "id": "rIeC6mkwng2eLV1h",
      "name": "Production"
    },
    {
      "updatedAt": "2025-07-24T20:42:03.005Z",
      "createdAt": "2025-07-24T20:42:03.005Z",
      "id": "or2U44rt97N7RH4Y",
      "name": "WF002"
    },
    {
      "updatedAt": "2025-07-28T20:29:12.737Z",
      "createdAt": "2025-07-28T20:29:12.737Z",
      "id": "hdn1RXMFlgJVERz7",
      "name": "SWF014"
    },
    {
      "updatedAt": "2025-08-27T23:14:28.658Z",
      "createdAt": "2025-08-27T23:14:28.658Z",
      "id": "wuVB256GIIfCIkgj",
      "name": "Module"
    }
  ]
}
