modules/levels/level4/SWF053 - Long Story Video Generation.json
{
  "name": "SWF053 - Long Story Video Generation",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Split text into dynamic segments for 120-second audio chunks\nconst items = $('Generate Long Story').all();\n\nreturn items.map(item => {\n  // Get the story text from the \"Select random story row\" node\n  const text = $('Generate Long Story').first().json.story;\n  \n  if (!text || typeof text !== 'string') {\n    return {\n      story: [],\n      error: 'No story text found from Select random story row node'\n    };\n  }\n  \n  // Function to count words in text\n  function countWords(str) {\n    return str.trim().split(/\\s+/).filter(word => word.length > 0).length;\n  }\n  \n  // Function to estimate audio duration in seconds\n  // Based on average speech rate of 150 words per minute (2.5 words per second)\n  function estimateAudioDuration(wordCount) {\n    const wordsPerSecond = 2.5; // Conservative estimate for clear speech\n    return wordCount / wordsPerSecond;\n  }\n  \n  // Split text into sentences using multiple sentence boundary markers\n  function splitIntoSentences(text) {\n    // Handle common abbreviations that shouldn't split sentences\n    const abbreviations = [\n      'Mr', 'Mrs', 'Dr', 'Prof', 'Sr', 'Jr', 'vs', 'etc', 'Inc', 'Ltd', \n      'Co', 'Corp', 'Ave', 'St', 'Rd', 'Blvd', 'Ph.D', 'M.D', 'B.A', \n      'M.A', 'U.S', 'U.K', 'E.U', 'i.e', 'e.g', 'a.m', 'p.m'\n    ];\n    \n    // Create regex pattern for abbreviations\n    const abbrPattern = '(?:' + abbreviations.join('|') + ')';\n    \n    // Split on sentence boundaries while preserving abbreviations\n    const sentenceRegex = new RegExp(\n      `(?<!\\\\b${abbrPattern})[.!?]+(?=\\\\s+[A-Z]|\\\\s*$)`,\n      'g'\n    );\n    \n    let sentences = text.split(sentenceRegex)\n      .map(s => s.trim())\n      .filter(s => s.length > 0);\n    \n    return sentences;\n  }\n  \n  // Split text into sentences\n  let sentences = splitIntoSentences(text);\n  \n  if (sentences.length === 0) {\n    return {\n      story: [text]\n    };\n  }\n  \n  // Create story segments based on 120-second audio limit\n  const maxAudioSeconds = 50;\n  const storyArray = [];\n  let currentSegment = '';\n  let currentWordCount = 0;\n  \n  for (let i = 0; i < sentences.length; i++) {\n    const sentence = sentences[i];\n    const sentenceWordCount = countWords(sentence);\n    const potentialWordCount = currentWordCount + sentenceWordCount;\n    const potentialDuration = estimateAudioDuration(potentialWordCount);\n    \n    // If adding this sentence would exceed 120 seconds, start a new segment\n    if (potentialDuration > maxAudioSeconds && currentSegment !== '') {\n      // Save current segment\n      storyArray.push(currentSegment.trim());\n      \n      // Start new segment with current sentence\n      currentSegment = sentence;\n      currentWordCount = sentenceWordCount;\n    } else {\n      // Add sentence to current segment\n      if (currentSegment === '') {\n        currentSegment = sentence;\n      } else {\n        currentSegment += ' ' + sentence;\n      }\n      currentWordCount = potentialWordCount;\n    }\n    \n    // Handle case where a single sentence exceeds 120 seconds\n    if (estimateAudioDuration(sentenceWordCount) > maxAudioSeconds) {\n      // Split long sentence by words if necessary\n      const words = sentence.split(/\\s+/);\n      let tempSegment = '';\n      let tempWordCount = 0;\n      \n      for (const word of words) {\n        tempWordCount++;\n        const tempDuration = estimateAudioDuration(tempWordCount);\n        \n        if (tempDuration > maxAudioSeconds && tempSegment !== '') {\n          storyArray.push(tempSegment.trim());\n          tempSegment = word;\n          tempWordCount = 1;\n        } else {\n          if (tempSegment === '') {\n            tempSegment = word;\n          } else {\n            tempSegment += ' ' + word;\n          }\n        }\n      }\n      \n      // Update current segment to the remaining part\n      currentSegment = tempSegment;\n      currentWordCount = tempWordCount;\n    }\n  }\n  \n  // Add the last segment if it exists\n  if (currentSegment.trim() !== '') {\n    storyArray.push(currentSegment.trim());\n  }\n  \n  return {\n    slidesNeeded: storyArray.length,\n    story: storyArray\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ],
      "id": "de1a49a5-fbfe-4b0f-ac03-c403494ee9eb",
      "name": "Split story into parts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10744d10-9e8c-49b7-bc13-5a2b1d98aa08",
              "name": "system_prompt",
              "value": "=You are an AI tasked with converting a {{ $('Start').first().json.story_genre }} story transcript into a single, cinematic image prompt for AI art generators like Flux.\n\t1.\tAbsorb the entire transcript.\n\t2.\tIdentify the scene with the strongest visual impact and peak tension.\n\t3.\tCompose one evocative, atmosphere-dripping prompt that brings that moment to life.\n\t4.\tFocus on setting, light, color palette, and eerie details.\n\t5.\tExclude any direct quotes or narrative snippets.\n\t6.\tReturn only the final image prompt—no code, labels, or commentary.\n\nExample:\nA decrepit Gothic cathedral under a blood-red sky, its shattered stained-glass windows glowing from within as ghostly silhouettes drift among toppled pews.",
              "type": "string"
            },
            {
              "id": "b91856e5-5550-4a7c-b5fe-cf14f88730af",
              "name": "user_prompt",
              "value": "={{ $json.story }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        96
      ],
      "id": "083de775-4d2a-4841-807d-5a6b6f06fa5c",
      "name": "System and User Prompts for Image Prompt Generator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nlewIQWnXuZEMvCt",
          "mode": "list",
          "cachedResultUrl": "/workflow/nlewIQWnXuZEMvCt",
          "cachedResultName": "SWF014 - Generate Script PR5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "System_Prompt": "={{ $('System and User Prompts for Image Prompt Generator').item.json.system_prompt }}",
            "User_Prompt": "={{ $('System and User Prompts for Image Prompt Generator').item.json.user_prompt }}",
            "Model": "evil"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "System_Prompt",
              "displayName": "System_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "User_Prompt",
              "displayName": "User_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2016,
        0
      ],
      "id": "b7f4bcd6-1577-4f48-ba00-0835ef13ced9",
      "name": "Image Prompt Generation"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aNrvmicxNDbcHULu",
          "mode": "list",
          "cachedResultUrl": "/workflow/aNrvmicxNDbcHULu",
          "cachedResultName": "SWF011 - Generate Images V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_prompts": "={{ $json.output }}",
            "number_of_images": "={{ $('Split story into parts').first().json.slidesNeeded }}",
            "model": "flux",
            "width": 1280,
            "height": 720,
            "UID": "={{ $('Create UID').item.json.UID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "number_of_images",
              "displayName": "number_of_images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "width",
              "displayName": "width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image_prompts",
              "displayName": "image_prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "genre",
              "displayName": "genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "vibrancy",
              "displayName": "vibrancy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "detail_level",
              "displayName": "detail_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "composition",
              "displayName": "composition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mood",
              "displayName": "mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lighting",
              "displayName": "lighting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texture",
              "displayName": "texture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "camera_angle",
              "displayName": "camera_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "resolution",
              "displayName": "resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "artistic_influence",
              "displayName": "artistic_influence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "UID",
              "displayName": "UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2912,
        96
      ],
      "id": "14c0950e-0640-4341-ba78-8d56223fdd79",
      "name": "Images Generation"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all();\nconst output = [];\nfor (item in raw) {\n  output.push(raw[item].json.generated_text.output)\n}\nreturn {output}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ],
      "id": "fa17d3d5-7c85-485a-8dd5-2a4722c2db9a",
      "name": "Accumulate Prompts into an Array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "image_urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3136,
        96
      ],
      "id": "6fd61393-cd94-4e15-9fc8-25c2edf06aa7",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZxSrcKuF7ytv2a4T",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZxSrcKuF7ytv2a4T",
          "cachedResultName": "SWF012 - Generate Slideshow V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_urls": "={{ $json.image_urls }}",
            "image_texts": "={{ $json.image_texts }}",
            "UID": "={{ $('Create UID').first().json.UID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "image_texts",
              "displayName": "image_texts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "UID",
              "displayName": "UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3584,
        96
      ],
      "id": "5f99880f-3215-498d-897d-05c4faf5e57a",
      "name": "Slideshow Generation"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S7TUM6ogxl2gTBxh",
          "mode": "list",
          "cachedResultUrl": "/workflow/S7TUM6ogxl2gTBxh",
          "cachedResultName": "SWF013 - Add Slideshow Captions V3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "style_font_bold": true,
            "style_effects_all_caps": false,
            "video_url": "={{ $json.result.video_url }}",
            "style_type": "highlight",
            "style_font_family": "DejaVu Sans",
            "style_font_size": 60,
            "style_colors_line": "#FFFFFF",
            "style_colors_word": "#FFFF00",
            "style_colors_outline": "#000000",
            "style_colors_box": "#000000A0",
            "style_effects_outline_width": 2,
            "style_effects_border_style": 1,
            "style_positioning_position": "middle_center",
            "style_positioning_alignment": "center",
            "style_margin_l": 30,
            "style_margin_r": 30,
            "style_margin_v": 30,
            "style_max_words_per_line": 8
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "captions",
              "displayName": "captions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_type",
              "displayName": "style_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_font_family",
              "displayName": "style_font_family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_font_size",
              "displayName": "style_font_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "style_font_bold",
              "displayName": "style_font_bold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "style_colors_line",
              "displayName": "style_colors_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_colors_word",
              "displayName": "style_colors_word",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_colors_outline",
              "displayName": "style_colors_outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_colors_box",
              "displayName": "style_colors_box",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_effects_outline_width",
              "displayName": "style_effects_outline_width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "style_effects_border_style",
              "displayName": "style_effects_border_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "style_effects_all_caps",
              "displayName": "style_effects_all_caps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "style_positioning_position",
              "displayName": "style_positioning_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_positioning_alignment",
              "displayName": "style_positioning_alignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_positioning_x",
              "displayName": "style_positioning_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_positioning_y",
              "displayName": "style_positioning_y",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style_margin_l",
              "displayName": "style_margin_l",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "style_margin_r",
              "displayName": "style_margin_r",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "style_margin_v",
              "displayName": "style_margin_v",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "style_max_words_per_line",
              "displayName": "style_max_words_per_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "replacements_find",
              "displayName": "replacements_find",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "replacements_replace",
              "displayName": "replacements_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3808,
        96
      ],
      "id": "9b6bec60-49ed-4c7e-88e4-d591e1c5d338",
      "name": "Slideshow Caption"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "story_prompt"
            },
            {
              "name": "story_genre"
            },
            {
              "name": "story_model"
            },
            {
              "name": "word_count",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        96
      ],
      "id": "7174e5c1-f16d-4e87-97e0-e59aecf73455",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57ff4b9d-0355-4d62-a22c-3858f18d44cf",
              "name": "story",
              "value": "={{ $('Generate Long Story').first().json.story }}",
              "type": "string"
            },
            {
              "id": "e80137a5-0fa6-4ba0-874d-d8be22f23031",
              "name": "UID",
              "value": "={{ $('Create UID').first().json.UID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        96
      ],
      "id": "0ac6d48d-d415-413f-ad2d-d1bc5bab357f",
      "name": "Return Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Kj9RR8PBCfCovFFS",
          "mode": "list",
          "cachedResultUrl": "/workflow/Kj9RR8PBCfCovFFS",
          "cachedResultName": "SWF051 - Generate Long Story V3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.story_prompt }}",
            "model": "={{ $json.story_model }}",
            "word_count": "={{ $json.word_count }}",
            "story_genre": "={{ $json.story_genre }}",
            "UID": "={{ $json.UID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "word_count",
              "displayName": "word_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "story_genre",
              "displayName": "story_genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "UID",
              "displayName": "UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        96
      ],
      "id": "2417708a-8ff3-4052-8303-3e8e3a1c32e7",
      "name": "Generate Long Story"
    },
    {
      "parameters": {
        "jsCode": "const image_urls = [];\nconst stories = $('Split story into parts').first();\nconst texts = [];\n\nconst slidesNeeded = $('Split story into parts').first().json.slidesNeeded;\n\nfor (let i = 0; i < slidesNeeded; i++) {\n\n  image_urls.push($input.all()[i].json.image_urls);\n  texts.push(stories.json.story[i]);\n  \n}\n\n// 👇 Return a SINGLE item with array of URLs\nreturn [{\n  json: {\n    image_urls,\n    image_texts: texts\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        96
      ],
      "id": "bda0aa44-b1ce-4df8-8663-cbe90301cd56",
      "name": "Combine image URL and image text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a74cdfcc-1b9a-401c-8853-568ea4c21a4d",
              "name": "UID",
              "value": "={{ $json.story_prompt.hash(\"md5\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ],
      "id": "f541206a-0caa-4557-be3b-bd7d2283e384",
      "name": "Create UID"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cAN9Ud79hcFGA5r9",
          "mode": "list",
          "cachedResultUrl": "/workflow/cAN9Ud79hcFGA5r9",
          "cachedResultName": "Look_For_File"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filepath": "={{ '/' +$('Create UID').item.json.UID }}",
            "filename": "image_prompts.json"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filepath",
              "displayName": "filepath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        96
      ],
      "id": "d03fe82d-9f58-423c-b441-1b8726dd4d65",
      "name": "Call 'Look_For_File'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4832ea3-11e3-425d-a5f7-22be6bc59d9a",
              "leftValue": "={{$json.status}}",
              "rightValue": "FALSE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        96
      ],
      "id": "c549f3f4-54e0-4445-9989-a361310212f6",
      "name": "If file not found"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CDwXbjJGtKLepMDT",
          "mode": "list",
          "cachedResultUrl": "/workflow/CDwXbjJGtKLepMDT",
          "cachedResultName": "Get File Contents"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filepath": "={{ '/' +$('Create UID').item.json.UID }}",
            "filename": "image_prompts.json"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filepath",
              "displayName": "filepath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2464,
        192
      ],
      "id": "ace92e7e-cd17-4c0d-896e-988e1281318f",
      "name": "Call 'Get File Contents'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "637b2ac1-3c98-4f64-8aed-f0b5256ad81c",
              "name": "output",
              "value": "={{ $json.contents }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        96
      ],
      "id": "d251fe65-58d2-4957-9e71-9a99bf256564",
      "name": "Set output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ha0Ppv5TvrrRLqMn",
          "mode": "list",
          "cachedResultUrl": "/workflow/ha0Ppv5TvrrRLqMn",
          "cachedResultName": "Create File"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filepath": "={{ '/' +$('Create UID').first().json.UID }}",
            "filename": "image_prompts.json",
            "file_contents": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filepath",
              "displayName": "filepath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_contents",
              "displayName": "file_contents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2464,
        0
      ],
      "id": "060a056b-7eb1-4ab1-9f5d-aabe96fe245d",
      "name": "Call 'Create File'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f92dfbff-7ff5-4c99-a491-c78112d98e91",
              "name": "story",
              "value": "={{ $('Split story into parts').item.json.story }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        0
      ],
      "id": "29a9985f-2a8e-4d36-a688-089d72fcf038",
      "name": "Set story"
    },
    {
      "parameters": {
        "fieldToSplitOut": "story",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "id": "beeb1522-744b-413f-be13-ddb1ef8ee574",
      "name": "Split Out Story"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "story_prompt": "Reality glitches spark across the city as time fractures unexpectedly.,A time smuggler and a quantum detective secretly meet amid urban temporal chaos.,They must choose: risk stabilizing the fracture and erase stolen futures, or let paradoxes consume innocent lives.,But every fix unravels another memory, threatening their own histories and hidden agendas.,At midnight, they confront the ticking paradox—restore order or sacrifice personal truths for collective survival.,Their choice bends the city's fate, forever shifting humanity’s grasp on time and meaning.,Enjoyed the twist? Subscribe, like, comment and share to support more sci-fi stories!",
          "story_genre": "science fiction",
          "story_model": "openai-large",
          "word_count": 5000
        }
      }
    ]
  },
  "connections": {
    "Split story into parts": {
      "main": [
        [
          {
            "node": "System and User Prompts for Image Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System and User Prompts for Image Prompt Generator": {
      "main": [
        [
          {
            "node": "Call 'Look_For_File'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Generation": {
      "main": [
        [
          {
            "node": "Accumulate Prompts into an Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Generation": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Prompts into an Array": {
      "main": [
        [
          {
            "node": "Call 'Create File'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Combine image URL and image text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slideshow Generation": {
      "main": [
        [
          {
            "node": "Slideshow Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slideshow Caption": {
      "main": [
        [
          {
            "node": "Return Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Create UID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Long Story": {
      "main": [
        [
          {
            "node": "Split story into parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine image URL and image text": {
      "main": [
        [
          {
            "node": "Slideshow Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create UID": {
      "main": [
        [
          {
            "node": "Generate Long Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Look_For_File'": {
      "main": [
        [
          {
            "node": "If file not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file not found": {
      "main": [
        [
          {
            "node": "Set story",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Get File Contents'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get File Contents'": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set output": {
      "main": [
        [
          {
            "node": "Images Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Create File'": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set story": {
      "main": [
        [
          {
            "node": "Split Out Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Story": {
      "main": [
        [
          {
            "node": "Image Prompt Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47c87849-d990-4d1d-9f6c-e009a205752d",
  "meta": {
    "instanceId": "37fe6d8c3b2aaeda95afa9d59c8cbc7c79e8171e6cc2a68043e239f8403c390e"
  },
  "id": "gjqZBTLbOtzGbWQi",
  "tags": [
    {
      "updatedAt": "2025-08-27T23:14:28.658Z",
      "createdAt": "2025-08-27T23:14:28.658Z",
      "id": "wuVB256GIIfCIkgj",
      "name": "Module"
    },
    {
      "updatedAt": "2025-10-02T13:40:13.724Z",
      "createdAt": "2025-10-02T13:40:13.724Z",
      "id": "26X6i1Uop864u8LH",
      "name": "SWF053"
    }
  ]
}
